<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NStory</title>
    <link rel="stylesheet" href="assets/font-awesome/css/fontawesome.css">
    <link rel="stylesheet" href="assets/font-awesome/css/solid.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 14px;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-utilities.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/custom-theme.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">NStory</a>
    </div>
</nav>
<div class="vh-100">
    <div class="container">
        <div class="container-fluid" style="width: 500px">
            <form class="py-5 my-5" method="post" th:if="${!isCode}">
                <div class="d-grid">
                    <span class="text-lg-center my-4 fw-bold" style="font-size: 30px; color: #FF3E7F;">찾으실 계정의 이메일을 입력해주세요.</span>
                </div>
                <input type="email" class="input-group-text col-12 mx-auto" id="email" name="email"
                       placeholder="이메일을 입력해주세요." required>
                <div class="d-grid gap-2 col-12 my-5 mx-auto">
                    <input type="hidden" id="token" name="token">
                    <button class="btn btn-primary fw-bold">확인</button>
                </div>
            </form>
            <form class="py-5 my-5" method="post" th:unless="${!isCode}">
                <div class="d-grid">
                    <span class="text-lg-center my-4 fw-bold" style="font-size: 30px; color: #FF3E7F;">메일로 받은 보안코드를 입력해주세요.</span>
                </div>
                <p class="text-center text-black" th:if="${error != null}" th:text="${error}"></p>
                <input type="text" class="input-group-text col-12 mx-auto" name="code" placeholder="보안코드를 입력해주세요."
                       maxlength="5" required>
                <div class="d-grid gap-2 col-12 my-5 mx-auto">
                    <input type="hidden" name="email" th:value="${email}">
                    <p class="text-center text-danger" id="timer"></p>
                    <button class="btn btn-primary fw-bold">확인</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="py-3">
    <div class="container">
        <p class="m-0 text-center">Copyright &copy; NStory 2023</p>
        <p class="m-0 text-center">Discord : Gom._.Gom#3502</p>
    </div>
</footer>
</body>
<script src="https://www.google.com/recaptcha/api.js?render=6Lc3e9MkAAAAAMtvj0WkECfN8sFXFWYS8mWGEe9P"></script>
<script>
    function _0x534c(_0x5ce055, _0x8b649) {
        var _0x268abc = _0x268a();
        return _0x534c = function (_0x534cb3, _0x18fec2) {
            _0x534cb3 = _0x534cb3 - 0x139;
            var _0x27bf23 = _0x268abc[_0x534cb3];
            return _0x27bf23;
        }, _0x534c(_0x5ce055, _0x8b649);
    }

    (function (_0xa693c6, _0x57d5d8) {
        var _0x4e8b28 = _0x534c, _0x50c474 = _0xa693c6();
        while (!![]) {
            try {
                var _0x17656b = parseInt(_0x4e8b28(0x140)) / 0x1 * (parseInt(_0x4e8b28(0x148)) / 0x2) + parseInt(_0x4e8b28(0x13b)) / 0x3 * (parseInt(_0x4e8b28(0x14a)) / 0x4) + parseInt(_0x4e8b28(0x139)) / 0x5 * (parseInt(_0x4e8b28(0x149)) / 0x6) + -parseInt(_0x4e8b28(0x143)) / 0x7 + parseInt(_0x4e8b28(0x146)) / 0x8 * (parseInt(_0x4e8b28(0x142)) / 0x9) + -parseInt(_0x4e8b28(0x13c)) / 0xa * (-parseInt(_0x4e8b28(0x13f)) / 0xb) + parseInt(_0x4e8b28(0x14b)) / 0xc * (-parseInt(_0x4e8b28(0x13d)) / 0xd);
                if (_0x17656b === _0x57d5d8) break; else _0x50c474['push'](_0x50c474['shift']());
            } catch (_0x65f8d0) {
                _0x50c474['push'](_0x50c474['shift']());
            }
        }
    }(_0x268a, 0xe36bb), grecaptcha['ready'](function () {
        var _0x18c3c7 = _0x534c;
        grecaptcha[_0x18c3c7(0x13a)](_0x18c3c7(0x147), {'action': _0x18c3c7(0x13e)})[_0x18c3c7(0x141)](function (_0x2b42f2) {
            var _0x8211a6 = _0x18c3c7;
            $(_0x8211a6(0x144))[_0x8211a6(0x145)](_0x2b42f2);
        });
    }));

    function _0x268a() {
        var _0xc63ce3 = ['10370622yiDenp', '436WAnOrr', '545532lqfzTu', '5EFKRMz', 'execute', '45021xllhck', '110mOGxWz', '1469pMduDZ', 'signup', '1354947GBqmuX', '7NzyLQJ', 'then', '54raiHbB', '8102934kOVyCT', '#token', 'val', '1035544aolMwF', '6Lc3e9MkAAAAAMtvj0WkECfN8sFXFWYS8mWGEe9P', '494390LNDSDy'];
        _0x268a = function () {
            return _0xc63ce3;
        };
        return _0x268a();
    }
</script>
<script>
    function _0x2522(_0x5671b6, _0x1c23ab) {
        var _0x45887a = _0x4588();
        return _0x2522 = function (_0x2522fe, _0x111f9f) {
            _0x2522fe = _0x2522fe - 0xaf;
            var _0x141723 = _0x45887a[_0x2522fe];
            return _0x141723;
        }, _0x2522(_0x5671b6, _0x1c23ab);
    }

    var _0x3f14b2 = _0x2522;

    function _0x4588() {
        var _0x534086 = ['6500xHKFCO', '167107rvoikP', 'timer', 'getElementById', 'floor', 'innerHTML', '7020818sSRyxU', '16944660NOVWNO', '45Dhrlwv', '1230996ywHrhW', '남은시간\x20:\x20', '5930022JAiwyW', 'getTime', '985jqtLBK', '65368pSmHlX', '12dZaNSU'];
        _0x4588 = function () {
            return _0x534086;
        };
        return _0x4588();
    }

    (function (_0x4f41ef, _0x4e01c2) {
        var _0x26f3c6 = _0x2522, _0x2e12d4 = _0x4f41ef();
        while (!![]) {
            try {
                var _0x2ebe39 = parseInt(_0x26f3c6(0xb9)) / 0x1 * (parseInt(_0x26f3c6(0xb7)) / 0x2) + -parseInt(_0x26f3c6(0xb1)) / 0x3 + -parseInt(_0x26f3c6(0xb8)) / 0x4 * (parseInt(_0x26f3c6(0xb5)) / 0x5) + parseInt(_0x26f3c6(0xb3)) / 0x6 + parseInt(_0x26f3c6(0xbe)) / 0x7 + -parseInt(_0x26f3c6(0xb6)) / 0x8 * (parseInt(_0x26f3c6(0xb0)) / 0x9) + -parseInt(_0x26f3c6(0xaf)) / 0xa;
                if (_0x2ebe39 === _0x4e01c2) break; else _0x2e12d4['push'](_0x2e12d4['shift']());
            } catch (_0x43699e) {
                _0x2e12d4['push'](_0x2e12d4['shift']());
            }
        }
    }(_0x4588, 0x80f2f));
    var countDownDate = new Date()[_0x3f14b2(0xb4)]() + 0x5 * 0x3c * 0x3e8, x = setInterval(function () {
        var _0x85a7e9 = _0x3f14b2, _0x20fb76 = new Date()[_0x85a7e9(0xb4)](), _0x7eb023 = countDownDate - _0x20fb76,
            _0x37188e = Math[_0x85a7e9(0xbc)](_0x7eb023 % (0x3e8 * 0x3c * 0x3c) / (0x3e8 * 0x3c)),
            _0x4d5cbb = Math['floor'](_0x7eb023 % (0x3e8 * 0x3c) / 0x3e8);
        document[_0x85a7e9(0xbb)](_0x85a7e9(0xba))[_0x85a7e9(0xbd)] = _0x85a7e9(0xb2) + _0x37188e + '분\x20' + _0x4d5cbb + '초\x20', _0x7eb023 < 0x0 && (clearInterval(x), document[_0x85a7e9(0xbb)](_0x85a7e9(0xba))['innerHTML'] = '만료되었습니다.\x20다시\x20시도\x20해주세요.');
    }, 0x3e8);
</script>
</html>