<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>NStory</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">NStory</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAuthenticated()"><a th:text="${#authentication.name}"></a></li>
                <li sec:authorize="isAuthenticated()"><a th:text="${#authentication.authorities}"></a></li>
                <li th:if="${IsLogin}"><a href="/logout">로그아웃</a></li>
                <li th:unless="${IsLogin}"><a href="/login">로그인</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a>Active</a></li>
        <li><a href="#">Sample1</a></li>
        <li><a href="#">Sample2</a></li>
        <li><a href="#">Sample3</a></li>
    </ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">기록 LOG</h2>
    <a sec:authorize="isAuthenticated()" class="btn btn-primary" href="javascript:openPop()">등록</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>내용</th>
                <th>등록자</th>
                <th>수정일자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${recordLogList}">
                <td th:text="${list.id}"></td>
                <td th:text="${list.contents}"></td>
                <td th:text="${list.name}"></td>
                <td th:text="${list.time}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="popup_layer" id="popup_layer" style="display: none;">
    <div class="popup_box">
        <div style="height: 10px; width: 375px; float: top;">
            <a href="javascript:closePop();">X</a>
        </div>
        <!--팝업 컨텐츠 영역-->
        <form method="post" action="/frmlog">
        <div class="popup_cont">
            <textarea name="contents" maxlength="20" placeholder="내용을 입력해 주세요." style="resize: none; width: 400px; height: 300px; padding: 10px;"></textarea>
        </div>
        <!--팝업 버튼 영역-->
        <div class="popup_btn" style="float: bottom; margin-top: 5px;">
            <a><input type="submit" value="등록"></a>
        </div>
        </form>
    </div>
</div>
</body>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/dashboard.css">
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="js/popup.js"></script>
<link rel="stylesheet" href="css/popup.css">
</html>