<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NStory</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 14px;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-utilities.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js" integrity="sha512-nnzkI2u2Dy6HMnzMIkh7CPd1KX445z38XIu4jG1jGw7x5tSL3VBjE44dY4ihMU1ijAQV930SPM12cCFrB18sVw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-bottom:1px solid gold">
    <div class="container">
        <a class="navbar-brand" href="/">NStory</a>
        <ul class="navbar-nav right-0">
            <li class="box" th:if="${#authentication.principal.profileImg != null}" sec:authorize="isAuthenticated()">
                <img class="profile" th:src="@{/storage/prf/img}" alt=""></li>
            <li class="box" th:unless="${#authentication.principal.profileImg != null}" sec:authorize="isAuthenticated()">
                <img class="profile" src="images/default_profileImg.png" alt=""></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/info" th:text="${#authentication.principal.username}"></a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:text="${#authentication.principal.authorities}"></a></li>
            <li class="nav-item" th:if="${#authentication != null}">
                <a class="nav-link" href="/logout">로그아웃</a></li>
            <li class="nav-item" th:unless="${#authentication != null}">
                <a class="nav-link" href="/login">로그인</a></li>
        </ul>
    </div>
</nav>
<div class="menu-wrapper">
    <ul class="menu">
        <li><h3 class="text-white">메뉴</h3></li>
        <li><a href="/whiteboard">자유게시판</a></li>
        <li><a href="/record">방명록</a></li>
        <li><a href="/ranking">랭킹</a></li>
        <li><a href="/shop">NStory SHOP</a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="#">유저 관리</a></li>
    </ul>
    <ul class="menu-info">
        <li><p class="text-center text-white">개발중인 메뉴입니다.
            <br/>현재 테스트 작업중이며 버그 신고는 ckaksj97@gmail.com으로 부탁드립니다.</p></li>
    </ul>
</div>
<button class="menu-btn" style="height: 50px; width: 50px"><img src="images/svg/menu.svg" alt="Menu"></button>
<main>
    <h2 class="container table-header" style="background-color: #39393a; color: white; width: auto; padding: 10px;
        border-radius: 1px 1px 10px 10px;">랭킹</h2>
    <div class="container bg-light" style="border-radius: 10px 10px;">
        <table class="table table-hover table-light caption-top" style="width: 80%; margin: auto;">
            <caption class="bg-light">
                <form method="post">
                    <strong>※실시간 랭킹 리스트 입니다.</strong>
                    <label style="float: right;">
                        <input type="search" name="search" class="form-control-sm" autocomplete="off"
                               placeholder="검색할 닉네임을 입력해주세요.">
                        <button type="submit" class="btn btn-sm btn-secondary">검색</button>
                    </label>
                </form>
            </caption>
            <thead>
            <tr style="text-align: center;">
                <th scope="col">순위</th>
                <th scope="col" style="width: 50px;"></th>
                <th scope="col" style="width: 100px;">닉네임</th>
                <th scope="col" style="width: 100px;">레벨</th>
                <th scope="col">경험치</th>
                <th scope="col">nCoin</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${rankingList}"  style="text-align: center; vertical-align: middle;">
                <th scope="row" th:if="${list.rank <= 3}" th:text="${list.rank}" style="font-size: 20px;"></th>
                <th scope="row" th:unless="${list.rank <= 3}" th:text="${list.rank}"></th>

                <td><img class="box2" style="object-fit: cover;" th:src="@{/ranking/prf/} + ${list.id}" alt=""></td>

                <td th:text="${list.name}"></td>
                <td th:text="'Lv.' + ${list.level}"></td>
                <td th:text="${list.exp}"></td>
                <td th:text="${list.nCoin}"></td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center my-3" th:object="${pageMaker}">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:href="@{/ranking(page=1)}"
                       style="color: black;" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:if="${pageMaker.isPrev}">
                    <a class="page-link" th:href="@{/ranking(page=${pageMaker.startPage - 10})}"
                       style="color: black;" aria-label="Previous">
                        <span aria-hidden="true">&#60;</span>
                    </a>
                </li>
                <th:block th:each="page : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                    <li class="page-item" th:if="${crtPage == page}">
                        <a class="page-link" style="color: red;"
                           th:href="@{/ranking(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li class="page-item" th:unless="${crtPage == page}">
                        <a class="page-link" style="color: black;"
                           th:href="@{/ranking(page=${page})}" th:text="${page}"></a>
                    </li>
                </th:block>
                <li class="page-item" th:if="${pageMaker.isNext}">
                    <a class="page-link" th:href="@{/ranking(page=${pageMaker.endPage + 1})}"
                       style="color: black;"
                       aria-label="Next">
                        <span aria-hidden="true">&#62;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/ranking(page=${pageMaker.lastEndPage})}"
                       style="color: black;"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
<!-- Footer -->
<footer class="py-3 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; NStory 2023</p>
        <p class="m-0 text-center text-white">Discord : Gom._.Gom#3502</p>
    </div>
</footer>
</body>
<script src="js/popup.js"></script>
<script src="js/menuEvent.js"></script>
</html>