<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NStory</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 14px;
        }
    </style>
</head>
<body style="overflow-x: hidden;background-color: #212529;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-bottom:1px solid gold">
    <div class="container">
        <a class="navbar-brand" href="/">NStory</a>
        <ul class="navbar-nav right-0">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="javascript:openUserInfo()" th:text="${#authentication.name}"></a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:text="${#authentication.authorities}"></a></li>
            <li class="nav-item" th:if="${#authentication != null}">
                <a class="nav-link" href="/logout">로그아웃</a></li>
            <li class="nav-item" th:unless="${#authentication != null}">
                <a class="nav-link" href="/login">로그인</a></li>
            <!--            <form class="navbar-form">
                            <input type="text" class="form-control" placeholder="Search...">
                        </form>-->
        </ul>
    </div>
</nav>
<div class="modal" id="userInfo" tabindex="-1" style="display: none;" sec:authorize="isAuthenticated()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">프로필 정보 수정</h5>
                <button class="btn-close" onclick="closeUserInfo()" aria-label="Close"></button>
            </div>
            <!--팝업 컨텐츠 영역-->
            <form method="post" enctype="multipart/form-data" action="account/profile_update">
                <label for="nickname">닉네임 :
                    <input type="text" id="nickname" name="nickname" th:value="${#authentication.name}" required></label>
                <label for="chooseImg">프로필 이미지 선택 :
                    <input type="file" id="chooseImg" name="profileImg" accept="image/jpeg, image/jpg, image/png"></label>
                <label for="comment">소개글 :
                    <input type="text" id="comment" name="comment" placeholder="소개글을 작성해주세요."></label>
                <div class="modal-footer">
                    <a class="btn btn-secondary" onclick="closeUserInfo()">닫기</a>
                    <button type="submit" class="btn btn-success"
                            onclick="if(!confirm('저장하시면 되돌릴수 없습니다. \n 정말로 저장하시겠습니까??')){
                                return false;
                            }">저장
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<nav class="col-sm-3 col-md-2 nav nav-tabs flex-column bg-light-subtle" style="position: fixed; padding: 30px; margin: 3%;
 width: 200px; box-shadow: 3px 3px 3px 3px gray; border-radius: 40px 40px;">
    <h4 class="nav-item text-center">메뉴</h4>
    <a class="nav-link text-center" href="/record">방명록</a>
    <a class="nav-link text-center" sec:authorize="hasRole('ROLE_ADMIN')" href="#">유저 목록</a>
    <a class="nav-link text-center disabled" href="/ranking">랭킹</a>
    <a class="nav-link text-center" href="/shop">NStory SHOP</a>
</nav>
<main class="container" style="padding-top: 5%; padding-bottom: 50%;">

</main>
<!-- Footer -->
<footer class="py-3 bg-dark" style="padding: 0; margin: 0; border-top:1px solid gold;">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; NStory 2023</p>
        <p class="m-0 text-center text-white">Discord : Gom._.Gom#3502</p>
    </div>
</footer>
</body>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-utilities.css">
<!-- 제이쿼리 -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="js/bootstrap.min.js"></script>
<script src="js/popup.js"></script>
</html>