<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NStory</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 14px;
        }
    </style>
</head>
<body style="overflow-x: hidden;background-color: #212529;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-bottom:1px solid gold">
    <div class="container">
        <a class="navbar-brand" href="/">NStory</a>
        <ul class="navbar-nav right-0">
            <li class="box" th:if="${account.profileImg != null}" sec:authorize="isAuthenticated()">
                <img class="profile" th:src="@{/storage/prf/img}" alt=""></li>
            <li class="box" th:unless="${account.profileImg != null}" sec:authorize="isAuthenticated()">
                <img class="profile" src="images/default_profileImg.png" alt=""></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="javascript:openUserInfo()" th:text="${account.username}"></a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:text="${account.authorities}"></a></li>
            <li class="nav-item" th:if="${#authentication != null}">
                <a class="nav-link" href="/logout">로그아웃</a></li>
            <li class="nav-item" th:unless="${#authentication != null}">
                <a class="nav-link" href="/login">로그인</a></li>
            <!--            <form class="navbar-form">
                            <input type="text" class="form-control" placeholder="Search...">
                        </form>-->
        </ul>
    </div>
</nav>
<div class="modal" id="userInfo" tabindex="-1" style="display: none;" sec:authorize="isAuthenticated()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">프로필 정보 수정</h5>
                <button class="btn-close" onclick="closeUserInfo()" aria-label="Close"></button>
            </div>
            <!--팝업 컨텐츠 영역-->
            <form method="post" enctype="multipart/form-data" action="account/profile_update">
                <label for="nickname">닉네임 :
                    <input type="text" id="nickname" name="nickname" th:value="${account.username}" required></label>
                <label for="chooseImg">프로필 이미지 선택 :
                    <input type="file" id="chooseImg" name="profileImg"
                           accept="image/jpeg, image/jpg, image/png"></label>
                <label for="comment">소개글 :
                    <input type="text" id="comment" name="comment" placeholder="소개글을 작성해주세요."
                           th:value="${account.comment}"></label>
                <div class="modal-footer">
                    <a class="btn btn-secondary" onclick="closeUserInfo()">닫기</a>
                    <button type="submit" class="btn btn-success"
                            onclick="if(!confirm('저장하시면 되돌릴수 없습니다. \n 정말로 저장하시겠습니까??')){
                                return false;
                            }">저장
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<nav class="col-sm-3 col-md-2 nav nav-tabs flex-column bg-light-subtle" style="position: fixed; padding: 30px; margin: 3%;
 width: 200px; box-shadow: 3px 3px 3px 3px gray; border-radius: 40px 40px;">
    <h4 class="nav-item text-center">메뉴</h4>
    <a class="nav-link text-center disabled">방명록</a>
    <a class="nav-link text-center" sec:authorize="hasRole('ROLE_ADMIN')" href="#">유저 목록</a>
    <a class="nav-link text-center" href="/ranking">랭킹</a>
    <a class="nav-link text-center" href="/shop">NStory SHOP</a>
</nav>
<main>
    <div class="container col-lg-9" style="height: 50%; width: 50%;">
        <h2 class="table-header" style="background-color: #39393a; color: white; width: auto; padding: 10px;">방명록 LOG</h2>
        <button sec:authorize="isAuthenticated()" class="btn btn-info"
                style="position: sticky; left: 2000px;" onclick="openPop()">등록
        </button>
        <div class="table-responsive">
            <table class="table table-dark">
                <thead>
                <tr class="text-center">
                    <th>#</th>
                    <th>내용</th>
                    <th>등록자</th>
                    <th>수정일자</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <tr th:each="list : ${recordLogList}">
                    <td th:text="${list.id}"></td>
                    <td th:text="${list.contents}"></td>
                    <td th:text="${list.name}"></td>
                    <td th:text="${list.time}"></td>
                    <th:block th:if="${#strings.equals(Email,list.email)}">
                        <form method="post" action="/record/frmlog_delete">
                            <td>
                                <button class="btn btn-danger" type="submit"
                                        onclick="if(!confirm('삭제하시면 복구할수 없습니다. \n 정말로 삭제하시겠습니까??')){
                                                    return false;
                                                }">삭제
                                </button>
                            </td>
                            <input type="hidden" name="id" th:value="${list.id}">
                            <input type="hidden" name="email" th:value="${list.email}">
                        </form>
                    </th:block>
                    <td th:unless="${#strings.equals(Email,list.email)}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center py-5" th:object="${pageMaker}">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link bg-dark" th:href="@{/record(page=${pageMaker.startPage})}"
                       style="color: ghostwhite;" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <th:block th:each="page, count : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                    <li class="page-item" th:if="${crtPage == page}">
                        <a class="page-link bg-dark" style="color: red;"
                           th:href="@{/record(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li class="page-item" th:unless="${crtPage == page}">
                        <a class="page-link bg-dark" style="color: ghostwhite;"
                           th:href="@{/record(page=${page})}" th:text="${page}"></a>
                    </li>
                </th:block>
                <li class="page-item">
                    <a class="page-link bg-dark" th:href="@{/record(page=${pageMaker.endPage})}"
                       style="color: ghostwhite;"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
<div class="modal" id="popup_layer" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">등록하기</h5>
                <button class="btn-close" onclick="closePop()" aria-label="Close"></button>
            </div>
            <!--팝업 컨텐츠 영역-->
            <form method="post" action="/record/frmlog">
                <div class="modal-body">
                    <textarea name="contents" maxlength="50" placeholder="내용을 입력해 주세요."
                              style="resize: none; width: 470px; height: 300px; padding: 10px;" required></textarea>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" onclick="closePop()">닫기</a>
                    <button type="submit" class="btn btn-success">등록</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="py-3 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; NStory 2023</p>
        <p class="m-0 text-center text-white">Discord : Gom._.Gom#3502</p>
    </div>
</footer>
</body>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-utilities.css">
<link rel="stylesheet" href="css/main.css">
<!-- 제이쿼리 -->
<script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="js/bootstrap.min.js"></script>
<script src="js/popup.js"></script>
</html>