<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NStory</title>
    <link rel="stylesheet" href="assets/font-awesome/css/fontawesome.css">
    <link rel="stylesheet" href="assets/font-awesome/css/solid.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 14px;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-utilities.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/custom-theme.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">NStory</a>
        <ul class="navbar-nav right-0">
            <li class="box" th:if="${#authentication.principal.profileImg != null}" sec:authorize="isAuthenticated()">
                <img class="profile" th:src="@{/storage/prf/img}" alt=""></li>
            <li class="box" th:unless="${#authentication.principal.profileImg != null}" sec:authorize="isAuthenticated()">
                <img class="profile" src="images/default_profileImg.png" alt=""></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/info" th:text="${#authentication.principal.username}"></a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:text="${#authentication.principal.authorities}"></a></li>
            <li class="nav-item" th:if="${#authentication != null}">
                <a class="nav-link" href="/logout">로그아웃</a></li>
            <li class="nav-item" th:unless="${#authentication != null}">
                <a class="nav-link" href="/login">로그인</a></li>
        </ul>
    </div>
</nav>
<div class="menu-wrapper">
    <ul class="menu">
        <li><h3>메뉴</h3></li>
        <li><a href="/whiteboard">자유게시판</a></li>
        <li><a href="/record">방명록</a></li>
        <li><a href="/ranking">랭킹</a></li>
        <li><a href="/shop">NStory SHOP</a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="#">유저 관리</a></li>
    </ul>
    <ul class="menu-info">
        <li><p class="text-center text-white">개발중인 메뉴입니다.
            <br/>현재 테스트 작업중이며 버그 신고는 ckaksj97@gmail.com으로 부탁드립니다.</p></li>
    </ul>
</div>
<button class="menu-btn" style="height: 50px; width: 50px"><img src="images/svg/menu.svg" alt="Menu"></button>
<main>
    <div class="container mt-3">
        <form style="margin-left: 60%">
            <label class="my-3">
                <select name="type" class="form-select-sm" id="search-type">
                    <option value="title">제목</option>
                    <option value="contents">내용</option>
                    <option value="author">작성자</option>
                </select>
                <input type="text" class="form-control-sm" name="str" placeholder="검색어를 입력하세요">
                <button class="btn btn-primary" type="submit">검색</button>
            </label>
        </form>
        <a href="/whitepost" class="btn btn-primary" style="margin-left: 19%;" sec:authorize="isAuthenticated()">
            <i class="fa-solid fa-pen-to-square fa-lg"></i> 작성하기</a>
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <th:block th:each="list : ${boardList}">
                    <a th:href="@{/whiteview(id=${list.id})}" class="list-group-item my-2 bottom-0 shadow">
                        <span class="badge" th:text="'#' + ${list.id}"></span>
                        <h2 th:text="${list.title}"></h2>
                        <p th:text="'작성자: ' + ${list.author} + ' | 작성일: ' + ${list.creationDate}"></p>
                    </a>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center py-5" th:object="${pageMaker}" th:if="${!isSearch}">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link bg-light" th:href="@{/whiteboard(page=1)}"
                       style="color: black;" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa-solid fa-angle-double-left fa-xs"></i></span>
                    </a>
                </li>
                <li class="page-item" th:if="${pageMaker.isPrev}">
                    <a class="page-link bg-light" th:href="@{/whiteboard(page=${pageMaker.startPage - 10})}"
                       style="color: black;" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa-solid fa-angle-left fa-xs"></i></span>
                    </a>
                </li>
                <th:block th:each="page : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                    <li class="page-item" th:if="${pageMaker.page == page}">
                        <a class="page-link bg-light" style="color: red;"
                           th:href="@{/whiteboard(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li class="page-item" th:unless="${pageMaker.page == page}">
                        <a class="page-link bg-light" style="color: black;"
                           th:href="@{/whiteboard(page=${page})}" th:text="${page}"></a>
                    </li>
                </th:block>
                <li class="page-item" th:if="${pageMaker.isNext}">
                    <a class="page-link bg-light" th:href="@{/whiteboard(page=${pageMaker.endPage + 1})}"
                       style="color: black;"
                       aria-label="Next">
                        <span aria-hidden="true"><i class="fa-solid fa-angle-right fa-xs"></i></span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-light" th:href="@{/whiteboard(page=${pageMaker.lastEndPage})}"
                       style="color: black;"
                       aria-label="Next">
                        <span aria-hidden="true"><i class="fa-solid fa-angle-double-right fa-xs"></i></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-center my-3" th:object="${pageMaker}" th:unless="${!isSearch}">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link bg-light" th:href="@{/whiteboard(page=1,type=${type},str=${str})}"
                       style="color: black;" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa-solid fa-angle-double-left fa-xs"></i></span>
                    </a>
                </li>
                <li class="page-item" th:if="${pageMaker.isPrev}">
                    <a class="page-link bg-light" th:href="@{/whiteboard(page=${pageMaker.startPage - 10},type=${str},str=${str})}"
                       style="color: black;" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa-solid fa-angle-left fa-xs"></i></span>
                    </a>
                </li>
                <th:block th:each="page : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                    <li class="page-item" th:if="${pageMaker.page == page}">
                        <a class="page-link bg-light" style="color: red;"
                           th:href="@{/whiteboard(page=${page},type=${type},str=${str})}" th:text="${page}"></a>
                    </li>
                    <li class="page-item" th:unless="${pageMaker.page == page}">
                        <a class="page-link bg-dark" style="color: black;"
                           th:href="@{/whiteboard(page=${page},type=${type},str=${str})}" th:text="${page}"></a>
                    </li>
                </th:block>
                <li class="page-item" th:if="${pageMaker.isNext}">
                    <a class="page-link bg-light" th:href="@{/whiteboard(page=${pageMaker.endPage + 1},type=${type},str=${str})}"
                       style="color: ghostwhite;"
                       aria-label="Next">
                        <span aria-hidden="true"><i class="fa-solid fa-angle-right fa-xs"></i></span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-light" th:href="@{/whiteboard(page=${pageMaker.lastEndPage},type=${type},str=${str})}"
                       style="color: black;"
                       aria-label="Next">
                        <span aria-hidden="true"><i class="fa-solid fa-angle-double-right fa-xs"></i></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
<!-- Footer -->
<footer class="py-3">
    <div class="container">
        <p class="m-0 text-center">Copyright &copy; NStory 2023</p>
        <p class="m-0 text-center">Discord : Gom._.Gom#3502</p>
    </div>
</footer>
</body>
<link rel="stylesheet" href="css/whiteboard.css">
<script src="js/popup.js"></script>
<script src="js/menuEvent.js"></script>
<script src="js/selectBoxCookies.js"></script>
</html>