:root {
    --primary-color: #FF3E7F;
    --secondary-color: #8B5EB5;
}
* {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
@media (max-width: 912px) {
     * {
         font-family: 'Noto Sans KR', sans-serif;
         font-size: 11px;
     }
    main {
        margin-top: 250px;
    }
}
.text-custom-primary {
    color: var(--primary-color);
}
.text-custom-secondary {
    color: var(--secondary-color);
}
.navbar {
    background-color: whitesmoke;
    border-bottom: 1px solid #FF3E7F;
}
/* 로고 */
.navbar-brand {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
}

/* 메뉴 아이템 */
.navbar-nav .nav-link {
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-color);
}

/* 검색 바 */
.navbar-form .form-control {
    background-color: #FFF;
    color: #555;
}

.navbar-form .btn {
    background-color: var(--primary-color);
    color: #FFF;
    border-color: var(--primary-color);
}

.navbar-form .btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn:disabled {
    border-color: transparent;
}

/* 일반 버튼 */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    font-weight: bold;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* outline 버튼 */
.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
    font-weight: bold;
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    color: #FFF;
}
.btn-outline-primary:disabled {
    background-color: var(--primary-color);
    color: #FFF;
}

.btn-outline-secondary:disabled {
    background-color: #6c757d;
    color: #FFF;
}

/* 대형 버튼 */
.btn-lg {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.card {
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-bottom: none;
    background-color: var(--primary-color);
    color: #FFFFFF;
    font-weight: bold;
}

.card-title {
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.card-text {
    color: #555555;
}

.card-link {
    color: var(--primary-color);
    font-weight: bold;
}

.card-link:hover {
    color: var(--secondary-color);
}
.footer-link:hover {
    color: var(--secondary-color);
}
/* 활성화된 체크박스의 색상 */
input[type="checkbox"]:checked:enabled {
    background-color:var(--secondary-color);
}
.menu-wrapper {
    position: fixed;
    top : 0;
    left : -200px;
    width: 200px;
    height: 100vh;
    background-color: whitesmoke;
    z-index: 1031;
    transition: left 0.3s ease-in-out;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.5); /* 오른쪽 그림자 */
    opacity: 0;
}
.menu {
    padding: 0;
}
.menu-info {
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 20px 50px;
    text-align: center;
    border-top: 1px solid #bebebe;
}

.menu-info p {
    font-size: 10px;
}

.menu li {
    list-style-type: none;
    margin: 10px;
}

.menu li a:hover {
    color: var(--secondary-color);
}

.menu li a {
    text-decoration: none;
    text-align: center;
}
.menu li h5 {
    text-align: center;
    padding-bottom: 10px;
}
.menu-btn {
    height: 40px;
    width: 40px;
}
.menu-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

body{
    user-select: none;
    overflow-x: hidden;
}
footer {
    background-color: whitesmoke;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--primary-color);
}
a {
    text-decoration: none;
}
#loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dark-mode {
    background-color: #1a202c;
    color: #fff;
}
