.box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
    object-fit: cover;
}
.box-mini {
    width: 20px;
    height: 20px;
    border-radius: 70%;
    overflow: hidden;
    object-fit: cover;
}
.profile2 {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    object-fit: cover;
    overflow: hidden;
}
main {
    min-height: 100vh;
    margin-top: 100px;
}
.jumbotron{
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 30px 60px;
    border-radius: 20px 20px;
}
.board-title {
    width: auto;
    height: 200px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 60px;
    border-radius: 10px 10px;
}
.card-record{
    background: transparent;
    color: lightgray;
    height: 180px;
}
.main-list-title {
    font-size: 16px;
    font-weight: bold;
    color: lightgray;
    max-width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.blur {
    filter: blur(1px);
    opacity: 0.5;
}
.main-list-icon {
    font-size: 12px;
}
.userinfo-t-c {
    font-size: 14px;
    font-weight: bold;
    color: lightgray;
    width: auto;
    max-width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.neon-clock {
    font-family: "Courier New", monospace;
    font-size: 3vw;
    font-weight: bold;
    color: lightgray;
    text-shadow: 0 0 1px #FF3E7F, 0 0 1px #FF3E7F, 0 0 1px #FF3E7F, 0 0 1px #FF3E7F, 0 0 1px #FF3E7F, 0 0 1px #FF3E7F, 0 0 1px #FF3E7F, 0 0 1px #FF3E7F;
    text-align: center;
}

.rank-search-form {
    color: lightgray;
    background-color: #1e2022;
    width: 200px;
    margin: 20px auto 40px;
    border: 0;
}

.history-list {
    overflow-y: scroll;
    height: 660px;
    scrollbar-width: none; /* Firefox에 대한 스크롤바 숨김 */
    -ms-overflow-style: none; /* IE 및 Edge에 대한 스크롤바 숨김 */
}
.history-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari 및 Opera에 대한 스크롤바 숨김 */
}

@media (max-width: 912px) {
    .neon-clock {
        font-size: 8vw;
    }
}