.box {
    width: 30px;
    height: 30px;
    border-radius: 70%;
    overflow: hidden;
}
.box2 {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid gold;
}
main {
    min-height: 1000px;
}
.jumbotron{
    width: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #39393a;
    padding: 30px 60px;
    border-radius: 20px 20px;
}
/* 드롭다운 메뉴 애니메이션 */
.dropdown-menu {
    opacity: 0; /* 초기값: 투명도 0 */
    transition: all 0.3s ease-in-out; /* 애니메이션 효과 추가 */
}
.dropdown-menu.show {
    opacity: 1; /* 드롭다운 메뉴가 표시될 때 투명도 1로 변경 */
}
.chatbox {
    height: 500px;
    overflow-y: auto;
    background-color: #39393a;
}
.chat-user-list{
    float: right;
    height: 500px;
    overflow-y: auto;
    width: 10%;
    margin-top: 50px;
    background-color: #39393a;
    border-radius: 10px 10px;
    text-align: center;
}