.box {
    width: 30px;
    height: 30px;
    border-radius: 70%;
    overflow: hidden;
}
.box2 {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
    height: 100%;
    position : relative;
    border-top: 1px solid gold;
}
.jumbotron{
    width: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #39393a;
    padding: 30px 60px;
    border-radius: 20px 20px;
}