.list-group-item {
    background-color: whitesmoke;
    padding: 20px;
    margin-bottom: 20px;
}
.list-group-item h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.list-group-item p {
    font-size: 0.9rem;
    margin-bottom: 5px;
}
.list-group-item span {
    font-size: 0.9rem;
    margin-bottom: 5px;
}
.list-group {
    max-width: 800px;
    margin: 0 auto;
}
.list-group-item .badge {
    margin-right: 5px;
    background-color: #fff;
}
.search-form {
    max-width: 300px;
    margin: 20px auto 40px;
}
label{
    display: block;
    margin-bottom: 5px;
}
.note-editable {
    background-color: white !important;
}
.post-container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
}
.note-modal-content {
    height: 40%;
}
.title {
    font-size: 20px;
    margin: 50px;
    background-color: whitesmoke;
    color: #FF3E7F;
}
.board-box {
    max-width: 1200px;
}
.board-contents{
    justify-content: center;
    border-radius: 10px 10px;
    height: auto;
    min-height: 700px;
    width: 100%;
}
.comment-add {
    width: 100vh;
    max-width: 600px;
    padding:  10px;
}
.comment-box {
    width: auto;
    max-width: 400px;
}
.reply-box {
    width: auto;
    max-width: 400px;
}
.reply-card{
    min-height: 500px;
    width: 90%;
}
.reply-form,
.replies {
    margin-left: 20px;
}
.reply-text{
    height: 80px;
    resize: none;
}

.reply-btn {
    width: auto;
    height: auto;
}

.reply-time {
    font-size: 12px;
}

.board-img {
    width: 80px;
    height: 80px;
    border-radius: 70%;
    object-fit: cover;
    overflow: hidden;
}

.table-contents-title {
    width: 500px;
}

.back-white {
    background-color: white !important;
}

.edit-reply-contents,
.edit-comment-contents {
    max-width: 500px;
    width: auto;
}