<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout/defaultHead :: Head}">
    <title>NStory</title>
</head>
<body>
<nav th:replace="~{layout/defaultNavbar :: Navbar}"></nav>
<div th:replace="~{layout/sideMenu :: Menu}"></div>
<main>
    <div class="row">
        <!-- WebRTC 화면 공유 영역 -->
        <div class="col video-container">
            <div class="d-flex flex-column">
                <!--th:src="@{/livestream/videos/} + ${RoomInfo.roomId} + '/stream'"-->
                <video class="video" id="videoPlayer" autoplay controls playsinline width="1326" height="auto"></video>
                <div class="video-info">
                    <h2 th:text="${RoomInfo.roomName}">방제목</h2>
                    <span class="justify-content-start">
                        <img class="box" th:src="@{/general/prf_img/} + ${RoomInfo.aid}" alt="profile">
                        <span th:text="${RoomInfo.hostName}"></span>
                        <!-- 화면 공유 시작 및 중지 버튼 -->
                        <div id="share-controls" class="mt-2">
                            <button id="start-share" class="btn btn-success" onclick="startSharing()">화면 공유 시작</button>
                            <button id="stop-share" class="btn btn-danger" onclick="stopSharing()" disabled>화면 공유 중지</button>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <!-- 채팅창 -->
        <div class="chat-window">
            <button id="user-list-toggle" class="btn btn-secondary toggle-button">
                <i class="fa fa-users" aria-hidden="true"></i>
            </button>
            <div class="message-list" id="chat-window">
                <hr>
                <!-- 채팅 내용 -->
            </div>
            <div class="input-group">
                <input type="text" id="message" class="form-control" placeholder="메시지를 입력하세요" maxlength="100">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" onclick="sendMessage()">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="user-list-content hidden" id="user-list">
            <span class="fw-bold mt-3" id="user-list-count">유저 리스트(0)</span>
            <button id="close-user-list" class="close-button">
                <i class="fa fa-times fa-lg" aria-hidden="true"></i>
            </button>
            <hr/>
            <div class="user" id="user-list-p">
                <!-- 유저 리스트 <p> -->
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{layout/defaultFooter :: Footer}"></footer>
</body>
<script src="/static/js/mainChat.js"></script>
<script src="/static/js/menuEvent.js"></script>
<link rel="stylesheet" href="/static/css/live-chat.css">
</html>