<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout/defaultHead :: Head}">
    <title>NStory</title>
</head>
<body>
<nav th:replace="~{layout/defaultNavbar :: Navbar}"></nav>
<div th:replace="~{layout/sideMenu :: Menu}"></div>
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="chat-window">
                    <h3 class="fw-bold">채팅방</h3>
                    <hr/>
                    <div class="message-list" id="chat-window">
                        <!-- 채팅내용 <div> -->
                    </div>
                    <div class="input-group">
                        <input type="text" id="message" class="form-control" placeholder="메시지를 입력하세요" maxlength="100">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" onclick="sendMessage()">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-list col-md-2">
                <h5 class="fw-bold" id="user-list-count">유저 리스트(0)</h5>
                <hr/>
                <div class="user" id="user-list">
                    <!-- 유저리스트 <p>-->
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{layout/defaultFooter :: Footer}"></footer>
</body>
<script src="/static/js/mainChat.js"></script>
<script src="/static/js/menuEvent.js"></script>
</html>