<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout/defaultHead :: Head}">
    <title>NStory</title>
</head>
<body>
<nav th:replace="~{layout/defaultNavbar :: Navbar}"></nav>
<div th:replace="~{layout/sideMenu :: Menu}"></div>
<main class="container vh-100">
    <div class="row justify-content-center" style="margin-top: 20%;">
        <div class="col-md-6 text-center mt-5">
            <h2 class="display-4 fw-bold">죄송합니다.</h2>
            <p class="lead">요청을 처리하는 중에 오류가 발생했습니다. 나중에 다시 시도 해주십시오. </p>
            <p class="font-weight-bold" th:text="'Error code: ' + ${ErrorCode}"></p>
            <a href="/" class="btn btn-primary">메인페이지로 돌아가기</a>
        </div>
    </div>
</main>
<footer th:replace="~{layout/defaultFooter :: Footer}"></footer>
</body>
<script src="/static/js/popup.js"></script>
<script src="/static/js/menuEvent.js"></script>
</html>