<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/defaultHead :: Head}">
    <title>NStory</title>
</head>
<body>
<nav th:replace="~{layout/defaultNavbar :: Navbar}"></nav>
<div th:replace="~{layout/sideMenu :: Menu}"></div>
<main>
    <div class="container">
        <button sec:authorize="isAuthenticated()" class="btn btn-primary" onclick="openPop()"
                style="width: 100%;">라이브 스트리밍 시작
        </button>
        <div class="row justify-content-center my-3" th:if="${RoomList.size() == 0}">
            <div class="col-sm-12 d-flex flex-column justify-content-center align-items-center" style="height: 75vh;">
                <i class="fa-solid fa-video-slash fa-bounce fa-2xl" style="color: #FFD43B;"></i>
                <span class="text-custom-primary text-center my-3 fw-bold" style="font-size: 20px;">
                    진행중인 라이브 스트리밍이 없어요!
                </span>
            </div>
        </div>
        <div class="row justify-content-center my-3" th:unless="${RoomList.size() == 0}">
            <div class="col-sm-4" th:each="list : ${RoomList}">
                <div class="card mb-4 card-record border-primary" style="height: auto;">
                    <div class="card-body">
                        <a class="card-title" th:text="${list.roomName}" style="font-size: 15px;" href=""
                           th:onclick="return navigateToRoom([[${list.isSecret}]], [[${list.roomPassword}]], [[${list.roomId}]])">
                        </a>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center" style="border: 0;">
                        <div class="card-text">
                            <img class="box" th:src="@{/general/prf_img/} + ${list.aid}" alt="profile">
                            <span th:text="${list.hostName}"></span>
                            <span> | 비공개 여부 :  </span>
                            <span th:text="${list.isSecret}"></span>
                        </div>
                        <th:block th:if="${#strings.equals(aid,list.aid)}">
                            <form method="post" action="">
                                <button class="btn btn-danger btn-sm" type="submit"
                                        onclick="if(!confirm('삭제하시면 복구할수 없습니다. \n 정말로 삭제하시겠습니까??')){
                                                    return false;
                                                }">삭제
                                </button>
                            </form>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center py-5" th:object="${pageMaker}">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{/livechat(page=1)}"
                   aria-label="Previous">
                    <span aria-hidden="true"><i class="fa-solid fa-angle-double-left fa-xs"></i></span>
                </a>
            </li>
            <li class="page-item" th:if="${pageMaker.isPrev}">
                <a class="page-link" th:href="@{/livechat(page=${pageMaker.startPage - 10})}"
                   aria-label="Previous">
                    <span aria-hidden="true"><i class="fa-solid fa-angle-left fa-xs"></i></span>
                </a>
            </li>
            <th:block th:each="page : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                <li class="page-item" th:if="${crtPage == page}">
                    <a class="page-link" style="color: red;"
                       th:href="@{/livechat(page=${page})}" th:text="${page}"></a>
                </li>
                <li class="page-item" th:unless="${crtPage == page}">
                    <a class="page-link"
                       th:href="@{/livechat(page=${page})}" th:text="${page}"></a>
                </li>
            </th:block>
            <li class="page-item" th:if="${pageMaker.isNext}">
                <a class="page-link" th:href="@{/livechat(page=${pageMaker.endPage + 1})}"
                   aria-label="Next">
                    <span aria-hidden="true"><i class="fa-solid fa-angle-right fa-xs"></i></span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/livechat(page=${pageMaker.lastEndPage})}"
                   aria-label="Next">
                    <span aria-hidden="true"><i class="fa-solid fa-angle-double-right fa-xs"></i></span>
                </a>
            </li>
        </ul>
    </div>
</main>
<div class="modal" id="popup_layer" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">라이브 스트리밍 생성</h5>
                <button class="modal-close-btn" onclick="closePop()"><i class="fa fa-xl fa-close"></i></button>
            </div>
            <!--팝업 컨텐츠 영역-->
            <form method="post" action="/chatroom/add" onsubmit="return isCheckedPW();">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="roomName" class="form-label">제목</label>
                        <input type="text" class="form-control" id="roomName" name="roomName" autocomplete="off" required>
                    </div>
                    <div class="mb-3">
                        <label for="roomPassword" class="form-label">비밀번호</label>
                        <input type="password" class="form-control" id="roomPassword" autocomplete="off" name="roomPassword">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="isSecret" name="isSecret" value="1">
                        <label class="form-check-label" for="isSecret">비밀방 여부</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" onclick="closePop();">닫기</a>
                    <button type="submit" class="btn btn-success">등록</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{layout/defaultFooter :: Footer}"></footer>
</body>
<script src="/static/js/popup.js"></script>
<script src="/static/js/menuEvent.js"></script>
<script>
    const isSecretCheckbox = document.getElementById("isSecret");
    const roomPasswordInput = document.getElementById("roomPassword");

    // 비밀방 여부 체크박스 상태 변경 이벤트 리스너 추가
    isSecretCheckbox.addEventListener("change", function() {
        // 비밀방 여부 체크박스가 체크되었는지 확인
        if (isSecretCheckbox.checked) {
            roomPasswordInput.disabled = false; // 비밀번호 입력 필드 활성화
        } else {
            roomPasswordInput.disabled = true;  // 비밀번호 입력 필드 비활성화
        }
    });

    // 페이지 로드 시 초기 상태 설정
    if (!isSecretCheckbox.checked) {
        roomPasswordInput.disabled = true;  // 비밀번호 입력 필드 초기 비활성화
    }

    function isCheckedPW() {
        if (isSecretCheckbox && roomPassword.length < 4) {
            alert('비밀방을 선택한 경우 비밀번호는 4자리 이상이어야 합니다.');
            return false;  // Prevent form submission
        }
        return true;  // Allow form submission
    }

    function navigateToRoom(isSecret, roomPassword, roomId) {
        var currentHref = '/chatroom/auth/' + roomId;
        if (isSecret) {
            const enteredPassword = prompt("비밀번호를 입력하세요:");
            if (enteredPassword !== roomPassword) {
                alert("비밀번호가 일치하지 않습니다.");
            } else {
                $.ajax({
                    type: "POST",
                    url: currentHref,
                    headers: {
                        "Room-Password": enteredPassword
                    },
                    success: function(response) {
                        window.location.href = "/chatroom/" + roomId;
                    },
                    error: function(xhr, status, error) {
                        console.error("[서버 오류] 요청에 실패 하였습니다.");
                    }
                });
            }
        } else {
            $.ajax({
                type: "POST",
                url: currentHref,
                success: function(response) {
                    window.location.href = "/chatroom/" + roomId;
                },
                error: function(xhr, status, error) {
                    console.error("[서버 오류] 요청에 실패 하였습니다.");
                }
            });
        }
    }
</script>
</html>