<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout/defaultHead :: Head">
    <title>NStory</title>
</head>
<body>
<nav th:replace="layout/defaultNavbar :: Navbar"></nav>
<div th:replace="layout/sideMenu :: Menu"></div>
<main>
    <div class="container jumbotron shadow-sm">
        <div id="serverTime" class="neon-clock">loading...</div>
        <p>Discord : Gom._.Gom#3502</p>
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <div class="card mb-5">
                    <div class="card-header">게시판 리스트</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="list : ${boardInfoList}">
                            <a class="link-dark" th:href="@{/whiteboard/{bid}(bid=${list.bid})}"
                               th:text="${list.kname}"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card mb-5">
                    <div class="card-header">공지사항</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 mb-4" th:each="list : ${mainNoticeList}">
                                <a th:href="@{/whiteview(id=${list.id})}">
                                    <div class="card">
                                        <div class="card-subtitle">
                                            <span class="badge text-secondary" th:text="${list.kname}"></span>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-text">
                                                <img class="box-mini" th:src="@{/general/prf_img/} + ${list.aid}"
                                                     alt="profile">
                                                <span style="font-size: 12px" th:text="${list.author}"></span>
                                                <span><i class="fa fa-eye fa-sm" aria-hidden="true"></i></span>
                                                <span class="main-list-icon" th:text="${list.views}"></span>
                                                <span><i class="fa fa-thumbs-up fa-sm" aria-hidden="true"></i> </span>
                                                <span class="main-list-icon" th:text="${list.like_count}"></span>
                                                <span><i class="fa fa-commenting fa-sm" aria-hidden="true"></i> </span>
                                                <span class="main-list-icon" th:text="${list.cm_rp_counts}"></span>
                                            </div>
                                            <p class="main-list-title mb-0" th:text="${list.title}"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-5">
                    <div class="card-header">베스트 게시글</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-4" th:each="list : ${bestList}">
                                <a th:href="@{/whiteview(id=${list.id})}">
                                    <div class="card">
                                        <div class="card-subtitle">
                                            <span class="badge text-secondary" th:text="${list.kname}"></span>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-text">
                                                <img class="box-mini" th:src="@{/general/prf_img/} + ${list.aid}"
                                                     alt="profile">
                                                <span style="font-size: 13px" th:text="${list.author}"></span>
                                                <span><i class="fa fa-eye fa-sm" aria-hidden="true"></i></span>
                                                <span class="main-list-icon" th:text="${list.views}"></span>
                                                <span><i class="fa fa-thumbs-up fa-sm" aria-hidden="true"></i> </span>
                                                <span class="main-list-icon" th:text="${list.like_count}"></span>
                                                <span><i class="fa fa-commenting fa-sm" aria-hidden="true"></i> </span>
                                                <span class="main-list-icon" th:text="${list.cm_rp_counts}"></span>
                                            </div>
                                            <p class="main-list-title mb-0" th:text="${list.title}"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-5">
                    <div class="card-header">최근 게시물</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-4" th:each="list : ${recentList}">
                                <a th:href="@{/whiteview(id=${list.id})}">
                                    <div class="card">
                                        <div class="card-subtitle">
                                            <span class="badge text-secondary" th:text="${list.kname}"></span>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-text">
                                                <img class="box-mini" th:src="@{/general/prf_img/} + ${list.aid}"
                                                     alt="profile">
                                                <span style="font-size: 13px" th:text="${list.author}"></span>
                                                <span><i class="fa fa-eye fa-sm" aria-hidden="true"></i></span>
                                                <span class="main-list-icon" th:text="${list.views}"></span>
                                                <span><i class="fa fa-thumbs-up fa-sm" aria-hidden="true"></i> </span>
                                                <span class="main-list-icon" th:text="${list.like_count}"></span>
                                                <span><i class="fa fa-commenting fa-sm" aria-hidden="true"></i> </span>
                                                <span class="main-list-icon" th:text="${list.cm_rp_counts}"></span>
                                            </div>
                                            <p class="main-list-title mb-0" th:text="${list.title}"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="layout/defaultFooter :: Footer"></footer>
<script src="/static/js/serverTime.js"></script>
</body>
</html>