<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NStory</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="/static/assets/font-awesome/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/font-awesome/css/solid.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/custom-theme.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top">
    <button class="btn menu-btn position-relative" id="menu-btn"><img src="/static/images/svg/menu.svg" alt="Menu">
    </button>
    <div class="container">
        <a class="navbar-brand" href="/">NStory</a>
        <ul class="navbar-nav">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <img class="box" th:src="@{/general/prf_img/} + ${#authentication.principal.aid}" alt=""></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/info" th:text="${#authentication.principal.username}"></a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link"
                   th:text="'Lv.' + ${#authentication.principal.level} + ' / nCoin : ' + ${#authentication.principal.nCoin}"></a>
            </li>
            <li class="nav-item" th:if="${#authentication != null}">
                <a class="nav-link" href="/logout">로그아웃</a></li>
            <li class="nav-item" th:unless="${#authentication != null}">
                <a class="nav-link" href="/login">로그인</a></li>
        </ul>
    </div>
</nav>
<div class="menu-wrapper">
    <button class="menu-close-btn" id="menu-close-btn"><i class="fa fa-close"></i></button>
    <a href="/" class="d-flex justify-content-center align-items-center pt-5 mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <i class="fa-solid fa-cloud-moon fa-2xl" style="color: #FF3E7F;"></i>
        <span class="fs-4 text-custom-primary">MENU</span>
    </a>
    <hr>
    <ul class="menu mb-auto nav-pills">
        <li class="nav-item">
            <a href="/record" class="nav-link"><span>방명록</span></a>
        </li>
        <li class="nav-item">
            <a href="/ranking" class="nav-link"><span>랭킹</span></a>
        </li>
        <li class="nav-item">
            <a href="/shop" class="nav-link"><span>NStory Shop</span></a>
        </li>
        <li class="nav-item"><hr><h5 class="nav-justified fw-bold text-custom-primary">게시판 목록</h5></li>
        <li class="nav-item" th:each="list : ${boardInfoList}">
            <a class="nav-link" th:href="@{/whiteboard/{bid}(bid=${list.bid})}" th:text="${list.kname}"></a>
        </li>
    </ul>
    <div class="menu-info d-flex align-items-center">
        <th:block th:if="${#authentication != null}">
            <div class="dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="box" th:src="@{/general/prf_img/} + ${#authentication.principal.aid}" alt="">
                <a class="link-dark" href="/info" th:text="${#authentication.principal.username}"></a>
            </div>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="/info">프로필</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
            </ul>
        </th:block>
        <th:block th:unless="${#authentication != null}">
            <ul class="menu-info">
                <li><p class="text-center"> <a class="link-dark fw-bold" href="/login">로그인</a></li>
            </ul>
        </th:block>
    </div>
</div>
<main>
    <div class="container jumbotron">
        <h4 id="serverTime">loading...</h4>
        <p>Discord : Gom._.Gom#3502</p>
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <div class="card mb-5">
                    <div class="card-header">게시판 리스트</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="list : ${boardInfoList}">
                            <a class="link-dark" th:href="@{/whiteboard/{bid}(bid=${list.bid})}"
                               th:text="${list.kname}"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card mb-5">
                    <div class="card-header">공지사항</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 mb-4" th:each="list : ${mainNoticeList}">
                                <a th:href="@{/whiteview(id=${list.id})}">
                                    <div class="card">
                                        <div class="card-subtitle">
                                            <span class="badge text-secondary" th:text="${list.kname}"></span>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-text">
                                                <img class="box-mini" th:src="@{/general/prf_img/} + ${list.aid}"
                                                     alt="profile">
                                                <span style="font-size: 12px" th:text="${list.author}"></span>
                                                <span><i class="fa fa-eye fa-sm" aria-hidden="true"></i></span>
                                                <span class="main-list-icon" th:text="${list.views}"></span>
                                                <span><i class="fa fa-thumbs-up fa-sm" aria-hidden="true"></i> </span>
                                                <span class="main-list-icon" th:text="${list.like_count}"></span>
                                                <span><i class="fa fa-commenting fa-sm" aria-hidden="true"></i> </span>
                                                <span class="main-list-icon" th:text="${list.cm_rp_counts}"></span>
                                            </div>
                                            <p class="main-list-title mb-0" th:text="${list.title}"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-5">
                    <div class="card-header">베스트 게시글</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-4" th:each="list : ${bestList}">
                                <a th:href="@{/whiteview(id=${list.id})}">
                                    <div class="card">
                                        <div class="card-subtitle">
                                            <span class="badge text-secondary" th:text="${list.kname}"></span>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-text">
                                                <img class="box-mini" th:src="@{/general/prf_img/} + ${list.aid}"
                                                     alt="profile">
                                                <span style="font-size: 13px" th:text="${list.author}"></span>
                                                <span><i class="fa fa-eye fa-sm" aria-hidden="true"></i></span>
                                                <span class="main-list-icon" th:text="${list.views}"></span>
                                                <span><i class="fa fa-thumbs-up fa-sm" aria-hidden="true"></i> </span>
                                                <span class="main-list-icon" th:text="${list.like_count}"></span>
                                                <span><i class="fa fa-commenting fa-sm" aria-hidden="true"></i> </span>
                                                <span class="main-list-icon" th:text="${list.cm_rp_counts}"></span>
                                            </div>
                                            <p class="main-list-title mb-0" th:text="${list.title}"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-5">
                    <div class="card-header">최근 게시물</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-4" th:each="list : ${recentList}">
                                <a th:href="@{/whiteview(id=${list.id})}">
                                    <div class="card">
                                        <div class="card-subtitle">
                                            <span class="badge text-secondary" th:text="${list.kname}"></span>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-text">
                                                <img class="box-mini" th:src="@{/general/prf_img/} + ${list.aid}"
                                                     alt="profile">
                                                <span style="font-size: 13px" th:text="${list.author}"></span>
                                                <span><i class="fa fa-eye fa-sm" aria-hidden="true"></i></span>
                                                <span class="main-list-icon" th:text="${list.views}"></span>
                                                <span><i class="fa fa-thumbs-up fa-sm" aria-hidden="true"></i> </span>
                                                <span class="main-list-icon" th:text="${list.like_count}"></span>
                                                <span><i class="fa fa-commenting fa-sm" aria-hidden="true"></i> </span>
                                                <span class="main-list-icon" th:text="${list.cm_rp_counts}"></span>
                                            </div>
                                            <p class="main-list-title mb-0" th:text="${list.title}"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<footer class="py-3">
    <div class="container">
        <p class="m-0 text-center">Copyright &copy; NStory 2023</p>
        <p class="m-0 text-center">Discord : Gom._.Gom#3502</p>
    </div>
</footer>
</body>
<script src="/static/js/serverTime.js"></script>
<script src="/static/js/menuEvent.js"></script>
</html>