<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/defaultHead :: Head}">
    <title>NStory</title>
</head>
<body>
<nav th:replace="~{layout/defaultNavbar :: Navbar}"></nav>
<div th:replace="~{layout/sideMenu :: Menu}"></div>
<main>
    <div class="container">
        <button sec:authorize="isAuthenticated()" class="btn btn-primary" onclick="openPop()"
                style="width: 100%;">등록
        </button>
        <div class="row justify-content-center my-3">
            <div class="col-sm-4" th:each="list : ${recordLogList}">
                <div class="card mb-4 card-record border-primary">
                    <div class="card-body">
                        <p class="card-title" th:text="${list.contents}" style="font-size: 15px;"></p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center" style="border: 0;">
                        <div class="card-text">
                            <img class="box" th:src="@{/general/prf_img/} + ${list.aid}" alt="profile">
                            <span th:text="${list.name}"></span>
                            <span> | </span>
                            <span th:text="${list.time}"></span>
                        </div>
                        <th:block th:if="${#strings.equals(Email,list.email)}">
                            <form method="post" action="/record/frmlog_delete">
                                <button class="btn btn-danger btn-sm" type="submit"
                                        onclick="if(!confirm('삭제하시면 복구할수 없습니다. \n 정말로 삭제하시겠습니까??')){
                                                    return false;
                                                }">삭제
                                </button>
                                <input type="hidden" name="id" th:value="${list.id}">
                                <input type="hidden" name="email" th:value="${list.email}">
                            </form>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center py-5" th:object="${pageMaker}">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link bg-light" th:href="@{/record(page=1)}"
                   style="color: black;" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa-solid fa-angle-double-left fa-xs"></i></span>
                </a>
            </li>
            <li class="page-item" th:if="${pageMaker.isPrev}">
                <a class="page-link bg-light" th:href="@{/record(page=${pageMaker.startPage - 10})}"
                   style="color: black;" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa-solid fa-angle-left fa-xs"></i></span>
                </a>
            </li>
            <th:block th:each="page : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                <li class="page-item" th:if="${crtPage == page}">
                    <a class="page-link bg-light" style="color: red;"
                       th:href="@{/record(page=${page})}" th:text="${page}"></a>
                </li>
                <li class="page-item" th:unless="${crtPage == page}">
                    <a class="page-link bg-light" style="color: black;"
                       th:href="@{/record(page=${page})}" th:text="${page}"></a>
                </li>
            </th:block>
            <li class="page-item" th:if="${pageMaker.isNext}">
                <a class="page-link bg-light" th:href="@{/record(page=${pageMaker.endPage + 1})}"
                   style="color: black;"
                   aria-label="Next">
                    <span aria-hidden="true"><i class="fa-solid fa-angle-right fa-xs"></i></span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link bg-light" th:href="@{/record(page=${pageMaker.lastEndPage})}"
                   style="color: black;"
                   aria-label="Next">
                    <span aria-hidden="true"><i class="fa-solid fa-angle-double-right fa-xs"></i></span>
                </a>
            </li>
        </ul>
    </div>
</main>
<div class="modal" id="popup_layer" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">등록하기</h5>
                <button class="btn-close" onclick="closePop()" aria-label="Close"></button>
            </div>
            <!--팝업 컨텐츠 영역-->
            <form method="post" action="/record/frmlog">
                <div class="modal-body">
                    <textarea name="contents" maxlength="50" placeholder="내용을 입력해 주세요."
                              style="resize: none; width: 100%; height: 300px; padding: 10px;" required></textarea>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" onclick="closePop()">닫기</a>
                    <button type="submit" class="btn btn-success">등록</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{layout/defaultFooter :: Footer}"></footer>
</body>
<script src="/static/js/popup.js"></script>
<script src="/static/js/menuEvent.js"></script>
</html>