<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NStory</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/custom-theme.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top">
    <button class="btn menu-btn position-relative" id="menu-btn"><img src="/static/images/svg/menu.svg" alt="Menu"></button>
    <div class="container">
        <a class="navbar-brand" href="/">NStory</a>
        <ul class="navbar-nav">
            <li class="box" th:if="${#authentication.principal.profileImg != null}" sec:authorize="isAuthenticated()">
                <img class="profile" th:src="@{/storage/prf/img}" alt=""></li>
            <li class="box" th:unless="${#authentication.principal.profileImg != null}" sec:authorize="isAuthenticated()">
                <img class="profile" src="/static/images/default_profileImg.png" alt=""></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/info" th:text="${#authentication.principal.username}"></a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:text="'Lv ' + ${#authentication.principal.level} + ' / nCoin : ' + ${#authentication.principal.nCoin}"></a></li>
            <li class="nav-item" th:if="${#authentication != null}">
                <a class="nav-link" href="/logout">로그아웃</a></li>
            <li class="nav-item" th:unless="${#authentication != null}">
                <a class="nav-link" href="/login">로그인</a></li>
        </ul>
    </div>
</nav>
<div class="menu-wrapper">
    <button class="menu-close-btn" id="menu-close-btn"><i class="fa fa-close"></i></button>
    <ul class="menu">
        <li><h5>MENU</h5></li>
        <li><a href="/record">방명록</a></li>
        <li><a href="/ranking">랭킹</a></li>
        <li><a href="/shop">NStory SHOP</a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="#">유저 관리</a></li>
        <li><h5>게시판</h5></li>
        <li th:each="list : ${boardInfoList}">
            <a th:href="@{/whiteboard(bid=${list.bid})}" th:text="${list.kname}"></a>
        </li>
    </ul>
    <ul class="menu-info">
        <li><p class="text-center">개발중인 메뉴입니다.
            <br/>현재 테스트 작업중이며 버그 신고는 ckaksj97@gmail.com으로 부탁드립니다.</p></li>
    </ul>
</div>
<main>
    <div class="container col-lg-9" style="width: 50%; height: 50%;">
        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
            <ol class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://picsum.photos/900/350" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://picsum.photos/900/350" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://picsum.photos/900/350" alt="Third slide">
                </div>
            </div>
            <button class="carousel-control-prev carousel-dark" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next carousel-dark" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="/static/images/bangdream/star.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">스타</a>
                        </h4>
                        <h5>100 NCoin</h5>
                        <p class="card-text">스타를 얻을 수 있다.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="/static/images/bangdream/boost.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">부스트</a>
                        </h4>
                        <h5>100 NCoin</h5>
                        <p class="card-text">EXP 2배 아이템</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="/static/images/bangdream/coin.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">코인</a>
                        </h4>
                        <h5>100 NCoin</h5>
                        <p class="card-text">코인으로 교환한다.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="/static/images/bangdream/ticket-double.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">연습티켓 (더블)</a>
                        </h4>
                        <h5>500 NCoin</h5>
                        <p class="card-text">300의 경험치를 획득한다.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="/static/images/bangdream/ticket-triple.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">연습티켓 (트리플)</a>
                        </h4>
                        <h5>1000 NCoin</h5>
                        <p class="card-text">600의 경험치를 획득한다.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="/static/images/bangdream/ticket-quadruple.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">연습티켓 (프리미엄)</a>
                        </h4>
                        <h5>1500 NCoin</h5>
                        <p class="card-text">1200의 경험치를 획득한다.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->
</main>
<!-- Footer -->
<footer class="py-3">
    <div class="container">
        <p class="m-0 text-center">Copyright &copy; NStory 2023</p>
        <p class="m-0 text-center">Discord : Gom._.Gom#3502</p>
    </div>
</footer>
</body>
<script src="/static/js/menuEvent.js"></script>
</html>