<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/defaultHead :: Head}">
    <title>NStory</title>
</head>
<body>
<nav th:replace="~{layout/defaultNavbar :: Navbar}"></nav>
<div th:replace="~{layout/sideMenu :: Menu}"></div>
<main>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card border-0 shadow">
                    <div class="card-body text-light">
                        <h5 class="text-center text-black fw-bold">계정 정보</h5>
                        <div class="text-center">
                            <div class="overflow-hidden mb-3 mt-5">
                                <a href="javascript:openUserInfo()">
                                    <img class="profile2"
                                         th:src="@{/general/prf_img/} + ${#authentication.principal.aid}" alt="prf">
                                </a>
                            </div>
                        </div>
                        <form method="post" action="/account/profile_update">
                            <div class="form-group mb-3">
                                <label for="nickname" class="form-label text-black fw-bold">사용자 이름 :</label>
                                <input type="text" class="form-control" id="nickname"
                                       name="nickname" th:value="${#authentication.principal.username}">
                            </div>
                            <div class="form-group mb-3">
                                <label for="comment" class="form-label text-black fw-bold">소개글(최대 100자) :</label>
                                <textarea class="form-control" id="comment" maxlength="100"
                                          style="height: 80px; resize: none;"
                                          name="comment" th:text="${#authentication.principal.comment}"></textarea>
                            </div>
                            <div class="form-group mb-3">
                                <label for="email" class="form-label text-black fw-bold">이메일 주소 :</label>
                                <input type="email" class="form-control" id="email"
                                       th:value="${#authentication.principal.email}" readonly>
                            </div>
                            <div class="form-group mb-3">
                                <label for="password" class="form-label text-black fw-bold">비밀번호 :</label>
                                <input type="text" class="form-control" id="password"
                                       th:value="${pwValue}" readonly>
                            </div>
                            <div class="justify_content_between">
                                <div class="form-group" th:if="${!#authentication.principal.isOAuth}">
                                    <a class="btn btn-primary btn-block mt-3" href="/new_pw">비밀번호 변경</a>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-primary btn-block mt-3" href="#" id="leave">회원탈퇴</a>
                                </div>
                            </div>
                            <div class="mt-2" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a href="#">유저 관리</a>
                                <span class="text-black"> / </span>
                                <a href="/chatroom">채팅룸</a>
                                <span class="text-black"> / </span>
                                <a href="/gpt">ChatGPT</a>
                            </div>
                            <div class="form-group row justify-content-end">
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-secondary mt-2"
                                            onclick="location.href='/'">취소
                                    </button>
                                    <button type="submit" class="btn btn-primary mt-2"
                                            onclick="if(!confirm('정말로 저장하시겠습니까??')){
                                                return false;
                                            }">저장
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs w-100">
                            <li class="nav-item w-50">
                                <a class="btn fw-bold text-primary w-100" id="recent-posts-btn"
                                   onclick="postsBtn();">작성한 게시물 목록</a>
                            </li>
                            <li class="nav-item w-50">
                                <a class="btn fw-bold text-white w-100" id="recent-comments-btn"
                                   onclick="commentsBtn();">작성한 댓글 목록</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body" style="overflow-y: auto; max-height: 625px;">
                        <ul class="list-group" id="recent-list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="userInfo" tabindex="-1" style="display: none; top: 10%;" sec:authorize="isAuthenticated()">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 700px; height: 700px;">
                <div class="modal-header">
                    <h5 class="modal-title">이미지 업로드</h5>
                    <button class="btn-close" onclick="closeUserInfo()" aria-label="Close"></button>
                </div>
                <!--팝업 컨텐츠 영역-->
                <input type="file" class="form-control" id="chooseImg" name="profileImg"
                       accept="image/jpeg, image/jpg, image/png" required>
                <!-- cropperjs를 사용할 이미지 자르기 영역 -->
                <div class="modal-body container" style="height: 500px; width: 500px; margin-bottom: 50px;">
                    <img id="cropper-img" alt="uploadImg" src="/static/images/noimg.jpg" width="500" height="500">
                </div>
                <div class="modal-footer">
                    <button id="upload-btn" class="btn btn-success"
                            onclick="if(!confirm('정말로 저장하시겠습니까??')){
                                return false;
                            }">저장
                    </button>
                    <a class="btn btn-secondary" onclick="closeUserInfo()">취소</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{layout/defaultFooter :: Footer}"></footer>
</body>
<script src="/static/js/popup.js"></script>
<script src="/static/js/menuEvent.js"></script>
<script src="/static/js/prfUpload.js"></script>
<script src="/static/js/myHistory.js"></script>
<script>
    $(document).ready(function () {
        $("#leave").click(function () {
            if (confirm("정말로 탈퇴를 하시겠습니까?")) {
                $.ajax({
                    url: "/account/delete",
                    method: "Delete",
                    dataType: "json",
                    success: function (response) {
                        alert(response.msg);
                        window.location.href = response.redirectUrl;
                    },
                    error: function (xhr, status, error) {
                        console.error("요청 실패: " + error);
                    }
                });
            }
        });
    });
</script>
</html>