<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NStory</title>
    <link rel="stylesheet" href="/static/assets/font-awesome/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/font-awesome/css/solid.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/custom-theme.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/summernote/summernote-lite.js"></script>
    <script src="/static/summernote/lang/summernote-ko-KR.js"></script>
    <link rel="stylesheet" href="/static/summernote/summernote-lite.css">
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top">
    <button class="btn menu-btn position-relative" id="menu-btn"><img src="/static/images/svg/menu.svg" alt="Menu"></button>
    <div class="container">
        <a class="navbar-brand" href="/">NStory</a>
        <ul class="navbar-nav">
            <li class="box" th:if="${#authentication.principal.profileImg != null}" sec:authorize="isAuthenticated()">
                <img class="profile" th:src="@{/storage/prf/img}" alt=""></li>
            <li class="box" th:unless="${#authentication.principal.profileImg != null}" sec:authorize="isAuthenticated()">
                <img class="profile" src="/static/images/default_profileImg.png" alt=""></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/info" th:text="${#authentication.principal.username}"></a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:text="'Lv ' + ${#authentication.principal.level} + ' / nCoin : ' + ${#authentication.principal.nCoin}"></a></li>
            <li class="nav-item" th:if="${#authentication != null}">
                <a class="nav-link" href="/logout">로그아웃</a></li>
            <li class="nav-item" th:unless="${#authentication != null}">
                <a class="nav-link" href="/login">로그인</a></li>
        </ul>
    </div>
</nav>
<div class="menu-wrapper">
    <button class="menu-close-btn" id="menu-close-btn"><i class="fa fa-close"></i></button>
    <ul class="menu">
        <li><h5>MENU</h5></li>
        <li><a href="/record">방명록</a></li>
        <li><a href="/ranking">랭킹</a></li>
        <li><a href="/shop">NStory SHOP</a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="#">유저 관리</a></li>
        <li><h5>게시판</h5></li>
        <li th:each="list : ${boardInfoList}">
            <a th:href="@{/whiteboard(bid=${list.bid})}" th:text="${list.kname}"></a>
        </li>
    </ul>
    <ul class="menu-info">
        <li><p class="text-center">개발중인 메뉴입니다.
            <br/>현재 테스트 작업중이며 버그 신고는 ckaksj97@gmail.com으로 부탁드립니다.</p></li>
    </ul>
</div>
<main>
    <div id="loading">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="container" id="add">
        <form method="post" accept-charset="UTF-8" action="/whiteboard/add">
            <input type="hidden" name="bid" th:value="${bid}">
            <div class="title justify-content-center align-items-center">
                <h5 class="fw-bold">게시글 제목(필수입력)</h5>
                <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요" maxlength="50">
                <div class="form-check" th:if="${isAdmin}">
                    <input class="form-check-input" type="checkbox" id="notice" name="isNotice"/>
                    <label class="form-check-label fw-bold" for="notice">공지사항 등록</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="summernote" class="form-label">내용</label>
                <textarea name="editordata" id="summernote" class="form-control" maxlength="4294967296"></textarea>
            </div>
            <div class="d-flex justify-content-end align-items-center">
            <button type="submit" class="btn btn-primary" onclick="if(!confirm('정말로 저장하시겠습니까??')){
                            return false;
                        }">저장
            </button>
            </div>
        </form>
    </div>
</main>
<!-- Footer -->
<footer class="py-3">
    <div class="container">
        <p class="m-0 text-center">Copyright &copy; NStory 2023</p>
        <p class="m-0 text-center">Discord : Gom._.Gom#3502</p>
    </div>
</footer>
</body>
<link rel="stylesheet" href="/static/css/whiteboard.css">
<script src="/static/js/menuEvent.js"></script>
<script src="/static/js/customnote.js"></script>
<script>
    $(document).ready(function () {
        $("form").submit(function () {
            $("#add").hide();
            $("#loading").show();
        });
    });
</script>
</html>r