<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NStory</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/custom-theme.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/summernote/summernote-lite.js"></script>
    <script src="/static/summernote/lang/summernote-ko-KR.js"></script>
    <link rel="stylesheet" href="/static/summernote/summernote-lite.css">
</head>
<body>
<nav th:replace="~{layout/defaultNavbar :: Navbar}"></nav>
<div th:replace="~{layout/sideMenu :: Menu}"></div>
<main>
    <div id="loading">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="container mb-5" th:object="${boardInfo}" id="edit">
        <form method="post" accept-charset="UTF-8" action="/whiteboard/update">
            <div class="title justify-content-center align-items-center">
                <h5 class="fw-bold">게시글 제목(필수입력)</h5>
                <input type="text" class="form-control" id="title" name="title" th:value="*{title}" placeholder="제목을 입력하세요" maxlength="50">
                <div class="form-check" th:if="${isAdmin}">
                    <input th:if="*{isNotice == false}"
                            class="form-check-input" type="checkbox" name="isNotice"/>
                    <input th:unless="*{isNotice == false}"
                           class="form-check-input" type="checkbox" name="isNotice" checked/>
                    <label class="form-check-label fw-bold">공지사항 등록</label>
                </div>
            </div>
            <label for="summernote" class="form-label">내용</label>
            <textarea name="editordata" id="summernote" th:utext="*{contents}" maxlength="4294967296"></textarea>
            <input type="hidden" name="id" th:value="*{id}">
            <div class="d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-secondary" style="margin: 10px 3px 10px 85%;"
                        onclick="history.go(-1)">취소</button>
                <button type="submit" class="btn btn-primary"
                        onclick="if(!confirm('정말로 저장하시겠습니까??')){return false;}">저장</button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{layout/defaultFooter :: Footer}"></footer>
</body>
<link rel="stylesheet" href="/static/css/whiteboard.css">
<script src="/static/js/menuEvent.js"></script>
<script src="/static/js/customnote.js"></script>
<script>
    $(document).ready(function() {
        $("form").submit(function() {
            $("#edit").hide();
            $("#loading").show();
        });
    });
</script>
</html>