<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NStory</title>
    <link rel="stylesheet" href="/static/assets/font-awesome/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/font-awesome/css/solid.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/custom-theme.css">
    <link rel="stylesheet" href="/static/css/whiteboard.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav th:replace="~{layout/defaultNavbar :: Navbar}"></nav>
<div th:replace="~{layout/sideMenu :: Menu}"></div>
<main th:object="${whiteboard}">
    <section class="container board-box">
        <div class="container my-5 board-contents shadow-sm">
            <div class="py-3">
                <h3 th:text="*{title}"></h3>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="justify-content-start">
                        <img class="box" th:src="@{/general/prf_img/} + *{aid}" alt="profile">
                        <span th:text="*{author}"></span>
                        <i th:if="${#strings.equals(whiteboard.email, boardAdmin)}"
                           class="fa fa-check-circle fa-sm text-custom-primary" title="주인장"></i>
                        <span th:text="' | ' + *{creationDate}"></span>
                    </span>
                    <span class="justify-content-end"
                          th:text="'좋아요: ' + *{like_count} + ' | 싫어요: ' + *{dislike_count} + ' | 조회수: ' + *{views}">
                    </span>
                </div>
                <hr>
                <div class="container" th:utext="*{contents}"></div>
            </div>
        </div>
        <div class="container position-relative d-flex justify-content-end">
            <th:block th:if="${#authentication != null} and ${#strings.equals(whiteboard.email,#authentication.principal.email)}">
                <form id="board-del">
                    <a class="btn btn-secondary p-2" th:href="${redirectURL}">목록</a>
                    <a class="btn btn-primary p-2" th:href="@{/whitepostup/{bid}(bid=*{bid},id=*{id})}">수정</a>
                    <input type="hidden" name="bid" th:value="*{bid}">
                    <input type="hidden" name="id" th:value="*{id}">
                    <input type="hidden" name="email" th:value="*{email}">
                    <button type="submit" class="btn btn-danger p-2"
                            onclick="if(!confirm('삭제하시면 되돌릴수 없습니다. \n 정말로 삭제하시겠습니까??'))
                        { return false;}">삭제
                    </button>
                </form>
            </th:block>
            <a class="btn btn-secondary p-2" th:href="${redirectURL}"
               th:unless="${#authentication != null} and ${#strings.equals(whiteboard.email,#authentication.principal.email)}">목록</a>
        </div>
        <div class="d-flex justify-content-center mt-5" th:if="${#authentication != null}">
            <form id="like">
                <input type="hidden" name="id" th:value="*{id}">
                <button type="submit" class="btn btn-primary m-1" th:if="${LikeType == 1}">
                    <i class="fa fa-thumbs-up"></i><span th:text="' ' + *{like_count}"></span>
                </button>
                <button type="submit" class="btn btn-outline-primary m-1" th:unless="${LikeType == 1}">
                    <i class="fa fa-thumbs-up"></i><span th:text="' ' + *{like_count}"></span>
                </button>
            </form>
            <form id="dislike">
                <input type="hidden" name="id" th:value="*{id}">
                <button type="submit" class="btn btn-secondary m-1" th:if="${LikeType == 0}">
                    <i class="fa fa-thumbs-down"></i><span th:text="' ' + *{dislike_count}"></span>
                </button>
                <button type="submit" class="btn btn-outline-secondary m-1" th:unless="${LikeType == 0}">
                    <i class="fa fa-thumbs-down"></i><span th:text="' ' + *{dislike_count}"></span>
                </button>
            </form>
        </div>
        <div th:unless="${#authentication != null}" class="text-center text-light">
            <p class="fw-bold">로그인 후 이용 가능합니다.</p>
                <button class="btn btn-outline-primary m-1 blur" disabled>
                    <i class="fa fa-thumbs-up"></i><span th:text="' ' + *{like_count}"></span>
                </button>
                <button class="btn btn-outline-secondary m-1 blur" disabled>
                    <i class="fa fa-thumbs-down"></i><span th:text="' ' + *{dislike_count}"></span>
                </button>
        </div>
        <div class="container reply-card mb-5 mt-5 text-light" id="d-form">
            <hr>
            <h5 th:text="${totalCount} + '개의 댓글'"></h5>
            <div class="d-flex justify-content-center mt-5 mb-2">
                <form class="comment-add" id="comment-add">
                    <div class="row">
                        <div class="col-md-1">
                            <th:block th:if="${#authentication != null}">
                                <img class="box" th:src="@{/general/prf_img/} + ${#authentication.principal.aid}" alt="profileImg">
                            </th:block>
                            <th:block th:unless="${#authentication != null}">
                                <img class="box" th:src="@{/general/prf_img/0}" alt="profileImg">
                            </th:block>
                        </div>
                        <div class="col-md-11">
                            <div class="form-group">
                                <label for="reply-textarea" class="d-block">댓글 작성</label>
                                <textarea class="form-control reply-text" id="reply-textarea" name="contents" rows="3"
                                          maxlength="300" placeholder="내용을 입력하세요." required></textarea>
                                <input type="hidden" name="id" th:value="*{id}">
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary mt-2">작성</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body" th:if="${#lists.size(commentList) <= 0}">
                <div class="d-flex justify-content-center align-items-center mt-5 text-light">
                    <h5>아직 댓글이 없습니다.</h5>
                </div>
            </div>
            <div class="card" th:each="list : ${commentList}" th:unless="${#lists.size(commentList) <= 0}">
                <div class="card-body">
                    <p hidden class="cid" th:text="${list.cid}"></p>
                    <div class="d-flex card-group align-items-center mb-3">
                        <img class="box" style="object-fit: cover; margin-right: 10px;"
                             th:src="@{/general/prf_img/} + ${list.aid}" alt="profileImg">
                        <div>
                            <span class="card-title" th:text="${list.name}"></span>
                            <i th:if="${#strings.equals(list.email, boardAdmin)}"
                               class="fa fa-check-circle fa-sm mb-1 mx-1 text-custom-primary" title="주인장"></i>
                            <p class="card-subtitle text-secondary reply-time" th:text="${list.time}"></p>
                        </div>
                    </div>
                    <p class="card-text edit-comment-contents" th:text="${list.contents}"></p>
                    <div class="d-flex reply-btn">
                        <button class="btn btn-sm text-light reply-toggle">댓글 쓰기</button>
                        <a class="btn btn-sm text-light edit-comment"
                           th:if="${#authentication != null} AND ${#strings.equals(list.email,#authentication.principal.email)}">수정</a>
                        <form id="comment-del"
                              th:if="${#authentication != null} AND ${#strings.equals(list.email,#authentication.principal.email)}">
                            <input type="hidden" name="cid" th:value="${list.cid}">
                            <button type="submit" class="btn btn-sm text-light"
                                    onclick="if(!confirm('삭제하시면 복구할수 없습니다. \n 정말로 삭제하시겠습니까??'))
                                    { return false;}">삭제</button>
                        </form>
                    </div>
                    <div class="reply-form d-none">
                        <form class="reply-box" id="reply-add">
                            <div class="form-group">
                                <label for="reply-content">댓글 작성</label>
                                <textarea class="form-control reply-text" id="reply-content" name="contents" rows="3"
                                          maxlength="300" placeholder="내용을 입력하세요." required></textarea>
                            </div>
                            <input type="hidden" name="id" th:value="*{id}">
                            <input type="hidden" name="cid" th:value="${list.cid}">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary btn-sm mt-2 mb-3">작성</button>
                            </div>
                        </form>
                    </div>
                    <th:block th:each="list2 : ${replyList}" th:if="${list.cid == list2.cid}">
                        <div class="replies">
                            <span class="fs-3" style="float: left;">└</span>
                            <div class="card mb-3">
                                <div class="card-body">
                                    <p hidden class="rid" th:text="${list2.rid}"></p>
                                    <div class="d-flex card-group align-items-center mb-3">
                                        <img class="box" style="object-fit: cover; margin-right: 10px;"
                                             th:src="@{/general/prf_img/} + ${list2.aid}" alt="profileImg">
                                        <div>
                                            <span class="card-title" th:text="${list2.name}"></span>
                                            <i th:if="${#strings.equals(list2.email, boardAdmin)}"
                                               class="fa fa-check-circle fa-sm mb-1 mx-1 text-custom-primary" title="주인장"></i>
                                            <p class="card-subtitle text-secondary reply-time" th:text="${list2.time}"></p>
                                        </div>
                                    </div>
                                    <p class="card-text edit-reply-contents" th:text="${list2.contents}"></p>
                                    <div class="d-flex reply-btn">
                                        <a class="btn btn-sm text-white edit-reply"
                                           th:if="${#authentication != null} AND ${#strings.equals(list2.email,#authentication.principal.email)}">수정</a>
                                        <form id="reply-del"
                                              th:if="${#authentication != null} AND ${#strings.equals(list2.email,#authentication.principal.email)}">
                                            <input type="hidden" name="rid" th:value="${list2.rid}">
                                            <button type="submit" class="btn btn-sm text-light"
                                                    onclick="if(!confirm('삭제하시면 복구할수 없습니다. \n 정말로 삭제하시겠습니까??'))
                                             { return false;}">삭제</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:replace="~{layout/defaultFooter :: Footer}"></footer>
</body>
<script src="/static/js/reply.js"></script>
<script src="/static/js/menuEvent.js"></script>
</html>