<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NStory</title>
    <link rel="stylesheet" href="/static/assets/font-awesome/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/font-awesome/css/solid.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/custom-theme.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">NStory</a>
        <ul class="navbar-nav right-0">
            <li class="box" th:if="${#authentication.principal.profileImg != null}" sec:authorize="isAuthenticated()">
                <img class="profile" th:src="@{/storage/prf/img}" alt=""></li>
            <li class="box" th:unless="${#authentication.principal.profileImg != null}" sec:authorize="isAuthenticated()">
                <img class="profile" src="/static/images/default_profileImg.png" alt=""></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/info" th:text="${#authentication.principal.username}"></a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:text="${#authentication.principal.authorities}"></a></li>
            <li class="nav-item" th:if="${#authentication != null}">
                <a class="nav-link" href="/logout">로그아웃</a></li>
            <li class="nav-item" th:unless="${#authentication != null}">
                <a class="nav-link" href="/login">로그인</a></li>
        </ul>
    </div>
</nav>
<div class="menu-wrapper">
    <ul class="menu">
        <li><img src="/static/images/bangdream/main-star.png" alt="star"></li>
        <li><h3>MENU</h3></li>
        <li><a href="/whiteboard?bid=free">자유게시판</a></li>
        <li><a href="/record">방명록</a></li>
        <li><a href="/ranking">랭킹</a></li>
        <li><a href="/shop">NStory SHOP</a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="#">유저 관리</a></li>
    </ul>
    <ul class="menu-info">
        <li><p class="text-center">개발중인 메뉴입니다.
            <br/>현재 테스트 작업중이며 버그 신고는 ckaksj97@gmail.com으로 부탁드립니다.</p></li>
    </ul>
</div>
<button class="menu-btn" style="height: 50px; width: 50px"><img src="/static/images/svg/menu.svg" alt="Menu"></button>
<main>
    <div id="loading">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="container mt-3" id="table">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="card-title">
                                <div class="d-sm-flex justify-content-between align-items-center">
                                    <a th:href="@{/whitepost(bid=${bid})}" class="btn btn-primary btn-sm"
                                       sec:authorize="isAuthenticated()">
                                        <i class="fa-solid fa-pen-to-square fa-lg"></i> 작성하기</a>
                                    <form>
                                        <input type="hidden" name="bid" th:value="${bid}">
                                        <label class="my-3">
                                            <select name="type" class="form-select-sm" id="search-type">
                                                <option value="title">제목</option>
                                                <option value="contents">내용</option>
                                                <option value="author">작성자</option>
                                            </select>
                                            <input type="text" class="form-control-sm" name="str" style="width: 300px;"
                                                   placeholder="검색어를 입력하세요">
                                            <button class="btn btn-primary btn-sm" type="submit">검색</button>
                                        </label>
                                    </form>
                                </div>
                            </div>
                            <table class="table table-light table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center" scope="col">번호</th>
                                    <th style="min-width: 500px;" scope="col">제목</th>
                                    <th scope="col">작성자</th>
                                    <th scope="col">작성일</th>
                                    <th class="text-center" scope="col">조회수</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="list : ${boardList}">
                                    <tr>
                                        <td class="text-center"><span th:text="${list.id}"></span></td>
                                        <td style="max-width: 50%;">
                                            <a th:href="@{/whiteview(id=${list.id})}"
                                               class="text-black text-decoration-none">
                                                <span class="fw-bold" th:text="${list.title}"
                                                      style="display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 100%;"></span>
                                            </a>
                                        </td>
                                        <td><span th:text="${list.author}"></span></td>
                                        <td><span th:text="${list.creationDate}"></span></td>
                                        <td class="text-center"><span th:text="${list.views}"></span></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                            <div class="d-sm-flex justify-content-end align-items-center">
                                <a th:href="@{/whitepost(bid=${bid})}" class="btn btn-primary btn-sm"
                                   sec:authorize="isAuthenticated()">
                                    <i class="fa-solid fa-pen-to-square fa-lg"></i> 작성하기</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center py-5" th:object="${pageMaker}" th:if="${!isSearch}">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link bg-light" th:href="@{/whiteboard(bid=${bid},page=1)}"
                                   style="color: black;" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa-solid fa-angle-double-left fa-xs"></i></span>
                                </a>
                            </li>
                            <li class="page-item" th:if="${pageMaker.isPrev}">
                                <a class="page-link bg-light"
                                   th:href="@{/whiteboard(bid=${bid},page=${pageMaker.startPage - 10})}"
                                   style="color: black;" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa-solid fa-angle-left fa-xs"></i></span>
                                </a>
                            </li>
                            <th:block th:each="page : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                                <li class="page-item" th:if="${pageMaker.page == page}">
                                    <a class="page-link bg-light" style="color: red;"
                                       th:href="@{/whiteboard(bid=${bid},page=${page})}" th:text="${page}"></a>
                                </li>
                                <li class="page-item" th:unless="${pageMaker.page == page}">
                                    <a class="page-link bg-light" style="color: black;"
                                       th:href="@{/whiteboard(bid=${bid},page=${page})}" th:text="${page}"></a>
                                </li>
                            </th:block>
                            <li class="page-item" th:if="${pageMaker.isNext}">
                                <a class="page-link bg-light"
                                   th:href="@{/whiteboard(bid=${bid},page=${pageMaker.endPage + 1})}"
                                   style="color: black;" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa-solid fa-angle-right fa-xs"></i></span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link bg-light"
                                   th:href="@{/whiteboard(bid=${bid},page=${pageMaker.lastEndPage})}"
                                   style="color: black;" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa-solid fa-angle-double-right fa-xs"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex justify-content-center my-3" th:object="${pageMaker}"
                         th:unless="${!isSearch}">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link bg-light"
                                   th:href="@{/whiteboard(bid=${bid},page=1,type=${type},str=${str})}"
                                   style="color: black;" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa-solid fa-angle-double-left fa-xs"></i></span>
                                </a>
                            </li>
                            <li class="page-item" th:if="${pageMaker.isPrev}">
                                <a class="page-link bg-light"
                                   th:href="@{/whiteboard(bid=${bid},page=${pageMaker.startPage - 10},type=${str},str=${str})}"
                                   style="color: black;" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa-solid fa-angle-left fa-xs"></i></span>
                                </a>
                            </li>
                            <th:block
                                    th:each="page : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                                <li class="page-item" th:if="${pageMaker.page == page}">
                                    <a class="page-link bg-light" style="color: red;"
                                       th:href="@{/whiteboard(bid=${bid},page=${page},type=${type},str=${str})}"
                                       th:text="${page}"></a>
                                </li>
                                <li class="page-item" th:unless="${pageMaker.page == page}">
                                    <a class="page-link bg-light" style="color: black;"
                                       th:href="@{/whiteboard(bid=${bid},page=${page},type=${type},str=${str})}"
                                       th:text="${page}"></a>
                                </li>
                            </th:block>
                            <li class="page-item" th:if="${pageMaker.isNext}">
                                <a class="page-link bg-light"
                                   th:href="@{/whiteboard(bid=${bid},page=${pageMaker.endPage + 1},type=${type},str=${str})}"
                                   style="color: black;"
                                   aria-label="Next">
                                    <span aria-hidden="true"><i class="fa-solid fa-angle-right fa-xs"></i></span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link bg-light"
                                   th:href="@{/whiteboard(bid=${bid},page=${pageMaker.lastEndPage},type=${type},str=${str})}"
                                   style="color: black;"
                                   aria-label="Next">
                                    <span aria-hidden="true"><i class="fa-solid fa-angle-double-right fa-xs"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<footer class="py-3">
    <div class="container">
        <p class="m-0 text-center">Copyright &copy; NStory 2023</p>
        <p class="m-0 text-center">Discord : Gom._.Gom#3502</p>
    </div>
</footer>
</body>
<link rel="stylesheet" href="/static/css/whiteboard.css">
<script src="/static/js/popup.js"></script>
<script src="/static/js/menuEvent.js"></script>
<script src="/static/js/selectBoxCookies.js"></script>
<script>
    $(document).ready(function() {
        $("form").submit(function() {
            $("#table").hide();
            $("#loading").show();
        });
    });
</script>
</html>