<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NStory</title>
    <link rel="stylesheet" href="/static/assets/font-awesome/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/font-awesome/css/solid.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/custom-theme.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top">
    <button class="btn menu-btn position-relative" id="menu-btn"><img src="/static/images/svg/menu.svg" alt="Menu"></button>
    <div class="container">
        <a class="navbar-brand" href="/">NStory</a>
        <ul class="navbar-nav">
            <li class="nav-item" th:if="${#authentication.principal.profileImg != null}" sec:authorize="isAuthenticated()">
                <img class="box" th:src="@{/storage/prf/img}" alt=""></li>
            <li class="nav-item" th:unless="${#authentication.principal.profileImg != null}"
                sec:authorize="isAuthenticated()">
                <img class="box" src="/static/images/default_profileImg.png" alt=""></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/info" th:text="${#authentication.principal.username}"></a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link"
                   th:text="'Lv.' + ${#authentication.principal.level} + ' / nCoin : ' + ${#authentication.principal.nCoin}"></a>
            </li>
            <li class="nav-item" th:if="${#authentication != null}">
                <a class="nav-link" href="/logout">로그아웃</a></li>
            <li class="nav-item" th:unless="${#authentication != null}">
                <a class="nav-link" href="/login">로그인</a></li>
        </ul>
    </div>
</nav>
<div class="menu-wrapper">
    <button class="menu-close-btn" id="menu-close-btn"><i class="fa fa-close"></i></button>
    <ul class="menu">
        <li><h5>MENU</h5></li>
        <li><a href="/record">방명록</a></li>
        <li><a href="/ranking">랭킹</a></li>
        <li><a href="/shop">NStory SHOP</a></li>
        <li><h5>게시판</h5></li>
        <li th:each="list : ${boardInfoList}">
            <a th:href="@{/whiteboard/{bid}(bid=${list.bid})}" th:text="${list.kname}"></a>
        </li>
    </ul>
    <ul class="menu-info">
        <li><p class="text-center">개발중인 메뉴입니다.
            <br/>현재 테스트 작업중이며 버그 신고는 ckaksj97@gmail.com으로 부탁드립니다.</p></li>
    </ul>
</div>
<main>
    <div id="loading">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="container mt-5 vw-100" id="table" th:object="${boardInfo}">
        <div class="container align-items-center">
            <div class="d-flex justify-content-start align-items-center">
            <img class="board-img" src="/static/images/bangdream/BG-Morfonica.png" alt="null">
                <div class="d-grid mt-3 p-3">
                    <h4 class="fw-bold" th:text="*{kname}"></h4>
                    <a href="#" th:text="'@' + *{username}"></a>
                    <p class="text-secondary" th:text="*{subname}"></p>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow-sm mb-5">
                        <div class="card-body">
                            <div class="card-title">
                                <div class="d-sm-flex justify-content-end align-items-center">
                                <a th:href="@{/whitepost/{bid}(bid=${bid})}" class="btn btn-primary btn-sm"
                                   sec:authorize="isAuthenticated()" th:if="${!#strings.equals(bid, 'mainNotice')}">
                                    <i class="fa-solid fa-pen-to-square fa-lg"></i> 작성하기</a>
                                </div>
                            </div>
                            <table class="table table-light table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center" scope="col">번호</th>
                                    <th scope="col">제목</th>
                                    <th class="text-center" scope="col">작성자</th>
                                    <th class="text-center" scope="col">작성일</th>
                                    <th class="text-center" scope="col"><i class="fa fa-eye"></i></th>
                                    <th class="text-center" scope="col"><i class="fa fa-thumbs-up"></i></th>
                                    <th class="text-center" scope="col"><i class="fa fa-commenting"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="list : ${noticeList}">
                                    <tr>
                                        <td class="text-center back-white"><span class="fw-bold text-custom-primary">공지사항</span></td>
                                        <td class="table-contents-title back-white">
                                            <a th:href="@{/whiteview(id=${list.id})}"
                                               class="text-decoration-none text-custom-primary">
                                                <span class="fw-bold" th:text="${list.title}"></span>
                                            </a>
                                        </td>
                                        <td class="text-center back-white"><span th:text="${list.author}"></span>
                                            <i th:if="${#strings.equals(list.email, boardInfo.email)}"
                                               class="fa fa-check-circle fa-sm" style="color: deeppink;" title="주인장"></i></td>
                                        <td class="text-center back-white" th:text="${list.creationDate}"></td>
                                        <td class="text-center back-white" th:text="${list.views}"></td>
                                        <td class="text-center back-white" th:text="${list.like_count}"></td>
                                        <td class="text-center back-white" th:text="${list.cm_rp_counts}"></td>
                                    </tr>
                                </th:block>
                                <th:block th:each="list : ${boardList}">
                                    <tr>
                                        <td class="text-center"><span th:text="${list.id}"></span></td>
                                        <td class="table-contents-title">
                                            <a th:href="@{/whiteview(id=${list.id})}" class="text-black">
                                                <span th:text="${list.title}"></span>
                                            </a>
                                        </td>
                                        <td class="text-center"><span th:text="${list.author}"></span>
                                            <i th:if="${#strings.equals(list.email, boardInfo.email)}"
                                               class="fa fa-check-circle fa-sm" style="color: deeppink;" title="주인장"></i></td>
                                        <td class="text-center" th:text="${list.creationDate}"></td>
                                        <td class="text-center" th:text="${list.views}" title="조회수"></td>
                                        <td class="text-center" th:text="${list.like_count}" title="좋아요"></td>
                                        <td class="text-center" th:text="${list.cm_rp_counts}" title="댓글수"></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                            <div class="d-sm-flex justify-content-end align-items-center">
                                <a th:href="@{/whitepost/{bid}(bid=${bid})}" class="btn btn-primary btn-sm"
                                   sec:authorize="isAuthenticated()" th:if="${!#strings.equals(bid, 'mainNotice')}">
                                    <i class="fa-solid fa-pen-to-square fa-lg"></i> 작성하기</a>
                            </div>
                            <div class="d-sm-flex justify-content-end align-items-center">
                                <form>
                                    <label class="my-3">
                                        <select name="type" class="form-select-sm" id="search-type">
                                            <option value="title">제목</option>
                                            <option value="contents">내용</option>
                                            <option value="author">작성자</option>
                                        </select>
                                        <input type="text" class="form-control-sm search-form" name="str"
                                               placeholder="검색어를 입력하세요">
                                        <button class="btn btn-primary btn-sm" type="submit">검색</button>
                                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center" th:object="${pageMaker}" th:if="${!isSearch}">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link bg-light" th:href="@{/whiteboard/{bid}(bid=${bid},page=1)}"
                                       style="color: black;" aria-label="Previous">
                                        <span aria-hidden="true"><i class="fa-solid fa-angle-double-left fa-xs"></i></span>
                                    </a>
                                </li>
                                <li class="page-item" th:if="${pageMaker.isPrev}">
                                    <a class="page-link bg-light"
                                       th:href="@{/whiteboard/{bid}(bid=${bid},page=${pageMaker.startPage - 10})}"
                                       style="color: black;" aria-label="Previous">
                                        <span aria-hidden="true"><i class="fa-solid fa-angle-left fa-xs"></i></span>
                                    </a>
                                </li>
                                <th:block th:each="page : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                                    <li class="page-item" th:if="${pageMaker.page == page}">
                                        <a class="page-link bg-light" style="color: red;"
                                           th:href="@{/whiteboard/{bid}(bid=${bid},page=${page})}" th:text="${page}"></a>
                                    </li>
                                    <li class="page-item" th:unless="${pageMaker.page == page}">
                                        <a class="page-link bg-light" style="color: black;"
                                           th:href="@{/whiteboard/{bid}(bid=${bid},page=${page})}" th:text="${page}"></a>
                                    </li>
                                </th:block>
                                <li class="page-item" th:if="${pageMaker.isNext}">
                                    <a class="page-link bg-light"
                                       th:href="@{/whiteboard/{bid}(bid=${bid},page=${pageMaker.endPage + 1})}"
                                       style="color: black;" aria-label="Next">
                                        <span aria-hidden="true"><i class="fa-solid fa-angle-right fa-xs"></i></span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link bg-light"
                                       th:href="@{/whiteboard/{bid}(bid=${bid},page=${pageMaker.lastEndPage})}"
                                       style="color: black;" aria-label="Next">
                                        <span aria-hidden="true"><i class="fa-solid fa-angle-double-right fa-xs"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex justify-content-center" th:object="${pageMaker}"
                             th:unless="${!isSearch}">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link bg-light"
                                       th:href="@{/whiteboard/{bid}(bid=${bid},page=1,type=${type},str=${str})}"
                                       style="color: black;" aria-label="Previous">
                                        <span aria-hidden="true"><i class="fa-solid fa-angle-double-left fa-xs"></i></span>
                                    </a>
                                </li>
                                <li class="page-item" th:if="${pageMaker.isPrev}">
                                    <a class="page-link bg-light"
                                       th:href="@{/whiteboard/{bid}(bid=${bid},page=${pageMaker.startPage - 10},type=${str},str=${str})}"
                                       style="color: black;" aria-label="Previous">
                                        <span aria-hidden="true"><i class="fa-solid fa-angle-left fa-xs"></i></span>
                                    </a>
                                </li>
                                <th:block
                                        th:each="page : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                                    <li class="page-item" th:if="${pageMaker.page == page}">
                                        <a class="page-link bg-light" style="color: red;"
                                           th:href="@{/whiteboard/{bid}(bid=${bid},page=${page},type=${type},str=${str})}"
                                           th:text="${page}"></a>
                                    </li>
                                    <li class="page-item" th:unless="${pageMaker.page == page}">
                                        <a class="page-link bg-light" style="color: black;"
                                           th:href="@{/whiteboard/{bid}(bid=${bid},page=${page},type=${type},str=${str})}"
                                           th:text="${page}"></a>
                                    </li>
                                </th:block>
                                <li class="page-item" th:if="${pageMaker.isNext}">
                                    <a class="page-link bg-light"
                                       th:href="@{/whiteboard/{bid}(bid=${bid},page=${pageMaker.endPage + 1},type=${type},str=${str})}"
                                       style="color: black;"
                                       aria-label="Next">
                                        <span aria-hidden="true"><i class="fa-solid fa-angle-right fa-xs"></i></span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link bg-light"
                                       th:href="@{/whiteboard/{bid}(bid=${bid},page=${pageMaker.lastEndPage},type=${type},str=${str})}"
                                       style="color: black;"
                                       aria-label="Next">
                                        <span aria-hidden="true"><i class="fa-solid fa-angle-double-right fa-xs"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<footer class="py-3">
    <div class="container">
        <p class="m-0 text-center">Copyright &copy; NStory 2023</p>
        <p class="m-0 text-center">Discord : Gom._.Gom#3502</p>
    </div>
</footer>
</body>
<link rel="stylesheet" href="/static/css/whiteboard.css">
<script src="/static/js/popup.js"></script>
<script src="/static/js/menuEvent.js"></script>
<script src="/static/js/selectBoxCookies.js"></script>
<script>
    $(document).ready(function() {
        $("form").submit(function() {
            $("#table").hide();
            $("#loading").show();
        });
    });
</script>
</html>