<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NStory</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/custom-theme.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/summernote/summernote-lite.js"></script>
    <script src="/static/summernote/lang/summernote-ko-KR.js"></script>
    <link rel="stylesheet" href="/static/summernote/summernote-lite.css">
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">NStory</a>
        <ul class="navbar-nav right-0">
            <li class="box" th:if="${#authentication.principal.profileImg != null}" sec:authorize="isAuthenticated()">
                <img class="profile" th:src="@{/storage/prf/img}" alt=""></li>
            <li class="box" th:unless="${#authentication.principal.profileImg != null}" sec:authorize="isAuthenticated()">
                <img class="profile" src="/static/images/default_profileImg.png" alt=""></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/info" th:text="${#authentication.principal.username}"></a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:text="${#authentication.principal.authorities}"></a></li>
            <li class="nav-item" th:if="${#authentication != null}">
                <a class="nav-link" href="/logout">로그아웃</a></li>
            <li class="nav-item" th:unless="${#authentication != null}">
                <a class="nav-link" href="/login">로그인</a></li>
        </ul>
    </div>
</nav>
<div class="menu-wrapper">
    <ul class="menu">
        <li><img src="/static/images/bangdream/main-star.png" alt="star"></li>
        <li><h3>MENU</h3></li>
        <li><a href="/whiteboard?bid=free">자유게시판</a></li>
        <li><a href="/record">방명록</a></li>
        <li><a href="/ranking">랭킹</a></li>
        <li><a href="/shop">NStory SHOP</a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="#">유저 관리</a></li>
    </ul>
    <ul class="menu-info">
        <li><p class="text-center">개발중인 메뉴입니다.
            <br/>현재 테스트 작업중이며 버그 신고는 ckaksj97@gmail.com으로 부탁드립니다.</p></li>
    </ul>
</div>
<button class="menu-btn" style="height: 50px; width: 50px"><img src="/static/images/svg/menu.svg" alt="Menu"></button>
<main>
    <div id="loading">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="container" th:object="${boardInfo}" id="edit">
        <form method="post" accept-charset="UTF-8" action="/whiteboard/update">
            <div class="title justify-content-center align-items-center">
                <h5 class="fw-bold">게시글 제목(필수입력)</h5>
                <input type="text" class="form-control" id="title" name="title" th:value="*{title}" placeholder="제목을 입력하세요">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="notice" name="isNotice"/>
                    <label class="form-check-label fw-bold" for="notice">공지사항 등록</label>
                </div>
            </div>
            <textarea name="editordata" id="summernote" th:utext="*{contents}"></textarea>
            <input type="hidden" name="id" th:value="*{id}">
            <button type="submit" class="btn btn-success d-block"
                    style="margin-top: 10px; margin-bottom: 10px; margin-left: 85%;"
                    onclick="if(!confirm('정말로 수정하시겠습니까??')){
                                return false;
                            }">수정
            </button>
        </form>
    </div>
</main>
<!-- Footer -->
<footer class="py-3">
    <div class="container">
        <p class="m-0 text-center">Copyright &copy; NStory 2023</p>
        <p class="m-0 text-center">Discord : Gom._.Gom#3502</p>
    </div>
</footer>
</body>
<link rel="stylesheet" href="/static/css/whiteboard.css">
<script src="/static/js/menuEvent.js"></script>
<script src="/static/js/customnote.js"></script>
<script>
    $(document).ready(function() {
        $("form").submit(function() {
            $("#edit").hide();
            $("#loading").show();
        });
    });
</script>
</html>