<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NStory</title>
    <link rel="stylesheet" href="/static/assets/font-awesome/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/font-awesome/css/solid.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/custom-theme.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top">
    <button class="btn menu-btn" id="menu-btn">
        <img src="/static/images/svg/menu.svg" alt="Menu"></button>
    <div class="container">
        <a class="navbar-brand" href="/">NStory</a>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <img class="box" th:src="@{/general/prf_img/} + ${#authentication.principal.aid}" alt="profileImg">
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/info" th:text="${#authentication.principal.username}"></a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link"
                       th:text="'Lv.' + ${#authentication.principal.level} + ' / nCoin : ' + ${#authentication.principal.nCoin}"></a>
                </li>
                <li class="nav-item" th:if="${#authentication != null}">
                    <a class="nav-link" href="/logout">로그아웃</a></li>
                <li class="nav-item" th:unless="${#authentication != null}">
                    <a class="nav-link" href="/login">로그인</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="menu-wrapper">
    <button class="menu-close-btn" id="menu-close-btn"><i class="fa fa-close"></i></button>
    <a href="/" class="d-flex justify-content-center align-items-center pt-5 mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <i class="fa-solid fa-cloud-moon fa-2xl" style="color: #FF3E7F;"></i>
        <span class="fs-4 text-custom-primary">MENU</span>
    </a>
    <hr>
    <ul class="menu mb-auto nav-pills">
        <li class="nav-item">
            <a href="/record" class="nav-link"><span>방명록</span></a>
        </li>
        <li class="nav-item">
            <a href="/ranking" class="nav-link"><span>랭킹</span></a>
        </li>
        <li class="nav-item">
            <a href="/shop" class="nav-link"><span>NStory Shop</span></a>
        </li>
        <li class="nav-item"><hr><h5 class="nav-justified fw-bold text-custom-primary">게시판 목록</h5></li>
        <li class="nav-item" th:each="list : ${boardInfoList}">
            <a class="nav-link" th:href="@{/whiteboard/{bid}(bid=${list.bid})}" th:text="${list.kname}"></a>
        </li>
    </ul>
    <div class="menu-info d-flex align-items-center">
        <th:block th:if="${#authentication != null}">
            <div class="dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="box" th:src="@{/general/prf_img/} + ${#authentication.principal.aid}" alt="">
                <a class="link-dark" href="/info" th:text="${#authentication.principal.username}"></a>
            </div>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="/info">프로필</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
            </ul>
        </th:block>
        <th:block th:unless="${#authentication != null}">
            <ul class="menu-info">
                <li><p class="text-center"> <a class="link-dark fw-bold" href="/login">로그인</a></li>
            </ul>
        </th:block>
    </div>
</div>
<main>
    <div id="loading">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="container mt-5 w-auto" id="table" th:object="${boardInfo}">
        <div class="container align-items-center">
            <div class="d-flex justify-content-start align-items-center">
                <img class="board-img" th:src="@{/bbs/main_img/} + *{bid}" alt="mainImg">
                <div class="d-grid mt-3 p-3">
                    <h4 class="fw-bold" th:text="*{kname}"></h4>
                    <a href="#" th:text="'@' + *{username}"></a>
                    <p class="text-secondary" th:text="*{subname}"></p>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center text-center">
                <button class="btn" th:if="${#authentication != null} AND ${#strings.equals(#authentication.principal.email, boardInfo.email)}"
                        onclick="openBoardSet();"><i class="fa-solid fa-gear fa-lg" title="게시판 설정"></i> 설정
                </button>
            </div>
            <div class="modal" id="boardSettings" tabindex="-1" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">게시판 수정</h5>
                            <button class="btn-close" onclick="closeBoardSet()" aria-label="Close"></button>
                        </div>
                        <!--팝업 컨텐츠 영역-->
                        <form method="post" th:action="@{/whiteboard/setup/} + *{bid}" enctype="multipart/form-data">
                            <div class="modal-body">
                                <span>대표 이미지 변경(100x100권장) : </span>
                                <input type="file" name="setImage" accept="image/jpeg, image/jpg, image/png">
                                <label>
                                    <span>게시판 설명(최대 100자) : </span>
                                    <textarea name="subname" maxlength="100" placeholder="내용을 입력해 주세요.(최대 100자)" th:text="*{subname}"
                                              style="resize: none; width: 100%; height: 100px; padding: 10px;" required></textarea>
                                </label>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-secondary" onclick="closeBoardSet()">닫기</a>
                                <button type="submit" class="btn btn-success">저장</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-lg-12">
                <div class="card shadow-sm mb-5">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="d-sm-flex justify-content-end align-items-center">
                                <a th:href="@{/whitepost/{bid}(bid=${bid})}" class="btn btn-primary btn-sm"
                                   sec:authorize="isAuthenticated()" th:if="${!#strings.equals(bid, 'mainNotice')}">
                                    <i class="fa-solid fa-pen-to-square fa-lg"></i> 작성하기</a>
                            </div>
                        </div>
                        <table class="table table-light table-hover">
                            <thead>
                            <tr>
                                <th class="text-center d-none d-md-table-cell" scope="col">번호</th>
                                <th class="text-center" scope="col">제목</th>
                                <th class="text-center d-none d-md-table-cell" scope="col">작성자</th>
                                <th class="text-center d-none d-md-table-cell" scope="col">작성일</th>
                                <th class="text-center d-none d-md-table-cell" scope="col" title="조회수">
                                    <i class="fa fa-eye"></i></th>
                                <th class="text-center d-none d-md-table-cell" scope="col" title="좋아요">
                                    <i class="fa fa-thumbs-up"></i></th>
                                <th class="text-center d-none d-md-table-cell" scope="col" title="댓글수">
                                    <i class="fa fa-commenting"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="list : ${noticeList}">
                                <tr>
                                    <td class="text-center back-white d-none d-md-table-cell">
                                        <span class="fw-bold text-custom-primary">공지사항</span></td>
                                    <td class="table-contents-title back-white">
                                        <a th:href="@{/whiteview(id=${list.id})}"
                                           class="text-decoration-none text-custom-primary">
                                            <span class="fw-bold" th:text="${list.title}"></span>
                                        </a>
                                    </td>
                                    <td class="text-center back-white d-none d-md-table-cell">
                                        <span th:text="${list.author}"></span>
                                        <i th:if="${#strings.equals(list.email, boardInfo.email)}"
                                           class="fa fa-check-circle fa-sm" style="color: deeppink;"
                                           title="주인장"></i></td>
                                    <td class="text-center back-white d-none d-md-table-cell"
                                        th:text="${list.creationDate}"></td>
                                    <td class="text-center back-white d-none d-md-table-cell"
                                        th:text="${list.views}" title="조회수"></td>
                                    <td class="text-center back-white d-none d-md-table-cell"
                                        th:text="${list.like_count}" title="좋아요"></td>
                                    <td class="text-center back-white d-none d-md-table-cell"
                                        th:text="${list.cm_rp_counts}" title="댓글수"></td>
                                </tr>
                            </th:block>
                            <th:block th:each="list : ${boardList}">
                                <tr>
                                    <td class="text-center d-none d-md-table-cell">
                                        <span th:text="${list.id}"></span></td>
                                    <td class="table-contents-title">
                                        <a th:href="@{/whiteview(id=${list.id})}" class="text-black">
                                            <span th:text="${list.title}"></span>
                                        </a>
                                    </td>
                                    <td class="text-center d-none d-md-table-cell">
                                        <span th:text="${list.author}"></span>
                                        <i th:if="${#strings.equals(list.email, boardInfo.email)}"
                                           class="fa fa-check-circle fa-sm" style="color: deeppink;"
                                           title="주인장"></i></td>
                                    <td class="text-center d-none d-md-table-cell"
                                        th:text="${list.creationDate}"></td>
                                    <td class="text-center d-none d-md-table-cell" th:text="${list.views}"
                                        title="조회수"></td>
                                    <td class="text-center d-none d-md-table-cell" th:text="${list.like_count}"
                                        title="좋아요"></td>
                                    <td class="text-center d-none d-md-table-cell" th:text="${list.cm_rp_counts}"
                                        title="댓글수"></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                        <div class="d-sm-flex justify-content-end align-items-center">
                            <a th:href="@{/whitepost/{bid}(bid=${bid})}" class="btn btn-primary btn-sm"
                               sec:authorize="isAuthenticated()" th:if="${!#strings.equals(bid, 'mainNotice')}">
                                <i class="fa-solid fa-pen-to-square fa-lg"></i> 작성하기</a>
                        </div>
                        <div class="d-sm-flex justify-content-end align-items-center">
                            <form>
                                <label class="my-3">
                                    <select name="type" class="form-select-sm" id="search-type">
                                        <option value="title">제목</option>
                                        <option value="contents">내용</option>
                                        <option value="author">작성자</option>
                                    </select>
                                    <input type="text" class="form-control-sm search-form" name="str"
                                           placeholder="검색어를 입력하세요">
                                    <button class="btn btn-primary btn-sm" type="submit">검색</button>
                                </label>
                            </form>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" th:object="${pageMaker}" th:if="${!isSearch}">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link bg-light" th:href="@{/whiteboard/{bid}(bid=${bid},page=1)}"
                                   style="color: black;" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa-solid fa-angle-double-left fa-xs"></i></span>
                                </a>
                            </li>
                            <li class="page-item" th:if="${pageMaker.isPrev}">
                                <a class="page-link bg-light"
                                   th:href="@{/whiteboard/{bid}(bid=${bid},page=${pageMaker.startPage - 10})}"
                                   style="color: black;" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa-solid fa-angle-left fa-xs"></i></span>
                                </a>
                            </li>
                            <th:block th:each="page : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                                <li class="page-item" th:if="${pageMaker.page == page}">
                                    <a class="page-link bg-light" style="color: red;"
                                       th:href="@{/whiteboard/{bid}(bid=${bid},page=${page})}" th:text="${page}"></a>
                                </li>
                                <li class="page-item" th:unless="${pageMaker.page == page}">
                                    <a class="page-link bg-light" style="color: black;"
                                       th:href="@{/whiteboard/{bid}(bid=${bid},page=${page})}" th:text="${page}"></a>
                                </li>
                            </th:block>
                            <li class="page-item" th:if="${pageMaker.isNext}">
                                <a class="page-link bg-light"
                                   th:href="@{/whiteboard/{bid}(bid=${bid},page=${pageMaker.endPage + 1})}"
                                   style="color: black;" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa-solid fa-angle-right fa-xs"></i></span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link bg-light"
                                   th:href="@{/whiteboard/{bid}(bid=${bid},page=${pageMaker.lastEndPage})}"
                                   style="color: black;" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa-solid fa-angle-double-right fa-xs"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex justify-content-center" th:object="${pageMaker}"
                         th:unless="${!isSearch}">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link bg-light"
                                   th:href="@{/whiteboard/{bid}(bid=${bid},page=1,type=${type},str=${str})}"
                                   style="color: black;" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa-solid fa-angle-double-left fa-xs"></i></span>
                                </a>
                            </li>
                            <li class="page-item" th:if="${pageMaker.isPrev}">
                                <a class="page-link bg-light"
                                   th:href="@{/whiteboard/{bid}(bid=${bid},page=${pageMaker.startPage - 10},type=${str},str=${str})}"
                                   style="color: black;" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa-solid fa-angle-left fa-xs"></i></span>
                                </a>
                            </li>
                            <th:block
                                    th:each="page : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                                <li class="page-item" th:if="${pageMaker.page == page}">
                                    <a class="page-link bg-light" style="color: red;"
                                       th:href="@{/whiteboard/{bid}(bid=${bid},page=${page},type=${type},str=${str})}"
                                       th:text="${page}"></a>
                                </li>
                                <li class="page-item" th:unless="${pageMaker.page == page}">
                                    <a class="page-link bg-light" style="color: black;"
                                       th:href="@{/whiteboard/{bid}(bid=${bid},page=${page},type=${type},str=${str})}"
                                       th:text="${page}"></a>
                                </li>
                            </th:block>
                            <li class="page-item" th:if="${pageMaker.isNext}">
                                <a class="page-link bg-light"
                                   th:href="@{/whiteboard/{bid}(bid=${bid},page=${pageMaker.endPage + 1},type=${type},str=${str})}"
                                   style="color: black;"
                                   aria-label="Next">
                                    <span aria-hidden="true"><i class="fa-solid fa-angle-right fa-xs"></i></span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link bg-light"
                                   th:href="@{/whiteboard/{bid}(bid=${bid},page=${pageMaker.lastEndPage},type=${type},str=${str})}"
                                   style="color: black;"
                                   aria-label="Next">
                                    <span aria-hidden="true"><i class="fa-solid fa-angle-double-right fa-xs"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<footer class="py-3">
    <div class="container">
        <p class="m-0 text-center">Copyright &copy; NStory 2023</p>
        <p class="m-0 text-center">Discord : Gom._.Gom#3502</p>
    </div>
</footer>
</body>
<link rel="stylesheet" href="/static/css/whiteboard.css">
<script src="/static/js/popup.js"></script>
<script src="/static/js/menuEvent.js"></script>
<script src="/static/js/selectBoxCookies.js"></script>
<script>
    $(document).ready(function() {
        $("form").submit(function() {
            $("#table").hide();
            $("#loading").show();
        });
    });
</script>
</html>